openapi: 3.0.3
info:
  title: VATSWIM API
  description: |
    VATSWIM (System Wide Information Management) API for VATSIM.

    VATSWIM provides a centralized data exchange hub enabling real-time flight information
    sharing across the VATSIM ecosystem. It serves as a single source of truth for flight 
    data, enabling consistent Traffic Management Initiative (TMI) implementation, 
    synchronized arrival/departure times, and seamless data exchange between VATSIM systems.
    
    ## Authentication

    All endpoints require API key authentication. Use either method:

    **Option 1: Bearer Token (preferred)**
    ```
    Authorization: Bearer {api_key}
    ```

    **Option 2: X-API-Key Header (IIS fallback)**
    ```
    X-API-Key: {api_key}
    ```

    ## Obtaining an API Key
    
    Request and manage your API keys via the self-service portal:
    **[https://perti.vatcscc.org/swim-keys.php](https://perti.vatcscc.org/swim-keys.php)**
    
    For elevated access tiers (partner/system), contact dev@vatcscc.org.
    
    ## API Key Tiers
    
    | Tier | Prefix | Rate Limit | Write Access |
    |------|--------|------------|--------------|
    | System | `swim_sys_` | 30,000/min | Full |
    | Partner | `swim_par_` | 3,000/min | Limited |
    | Developer | `swim_dev_` | 300/min | Read-only |
    | Public | `swim_pub_` | 100/min | Read-only |
    
    ## GUFI Format
    
    Globally Unique Flight Identifier format: `VAT-YYYYMMDD-CALLSIGN-DEPT-DEST`
    
    Example: `VAT-20260115-UAL123-KJFK-KLAX`
    
    ## Data Sources

    SWIM aggregates data from multiple authoritative sources (per FAA CDM spec):
    - **VATSIM**: Identity and flight plan data
    - **vATCSCC/PERTI**: ADL, TMI, controlled times (EDCT, CTD, CTA, TOBT)
    - **vNAS/CRC/EuroScope**: Track data, ATC automation
    - **SimTraffic**: TBFM-style metering (eta_runway, sta_meter_fix)
    - **ACARS/Hoppie**: OOOI actuals (T11-T14: out/off/on/in times)
    - **Virtual Airlines**: CDM predictions (T1-T4: LRTD/LRTA/LGTD/LGTA), schedules (STD/STA)
    - **SimBrief**: OFP data, fallback for schedules and ETAs
    - **Simulator**: Pilot flight sim telemetry (FMC data, position)

    ## Source Priority (OOOI Times)

    For OOOI times, higher-priority sources override lower ones:
    1. ACARS (Hoppie, etc.) - authoritative
    2. Virtual Airlines - better detection than raw sim
    3. Simulator - raw telemetry
    4. vATCSCC - ADL parsing fallback

    ## FIXM Migration (2026-01-27)

    VATSWIM is transitioning from legacy OOOI column names to FIXM-aligned naming.
    During the 30-day transition, both column sets are populated (dual-write).

    | Legacy | FIXM-Aligned |
    |--------|--------------|
    | out_utc | actual_off_block_time |
    | off_utc | actual_time_of_departure |
    | on_utc | actual_landing_time |
    | in_utc | actual_in_block_time |
    | eta_utc | estimated_time_of_arrival |
    | etd_utc | estimated_off_block_time |

    API responses with `format=fixm` return FIXM camelCase field names.
    See VATSWIM_FIXM_Field_Mapping.md for complete mapping.

    ## Consumer Use Cases

    This API supports various consumer types with specific patterns:

    ### Virtual Airlines
    - **Fleet Tracking**: `GET /flights?callsign=DAL*` - Monitor all flights for airline prefix
    - **OOOI Logging**: `POST /ingest/adl` with out/off/on/in times from ACARS
    - **Telemetry Push**: `POST /ingest/track` for high-frequency position updates
    - **OTP Reports**: `GET /flights?status=completed` for on-time performance analysis

    ### Facility / vNAS
    - **Sector Traffic**: `GET /flights?artcc=ZNY` - Traffic counts per ARTCC
    - **Demand Monitoring**: `GET /flights?dest_icao=KJFK` - Arrival demand by airport
    - **Route Compliance**: `GET /positions?include_route=true` - Verify route adherence
    - **CRC Track Feed**: `POST /ingest/track` - Batch position updates from radar sim

    ### TMI Coordination
    - **Active Programs**: `GET /tmi/programs` - Ground Stops and GDPs
    - **Controlled Flights**: `GET /tmi/controlled?airport=KJFK` - Flights with EDCT/slots
    - **Slot Assignment**: `POST /ingest/adl` with tmi.slot_time_utc

    ### Data Integration
    - **Webhook Events**: Subscribe to real-time events (WebSocket coming in Phase 2)
    - **Batch Export**: Paginate through all flights for external analysis
    - **GeoJSON Mapping**: `GET /positions` for map visualization

    ## Python SDK Examples

    See `sdk/python/examples/` for complete working examples:
    - `airline_fleet_tracker.py` - Virtual airline fleet monitoring
    - `sector_traffic_monitor.py` - ARTCC traffic counts and alerts
    - `airport_demand_dashboard.py` - 15-minute demand buckets
    - `data_export_pipeline.py` - JSON/CSV/GeoJSON export
    - `webhook_receiver.py` - FastAPI webhook server
    - `discord_bot.py` - Discord integration
    - `data_provider_example.py` - CRC/provider data ingest
    - `route_compliance_monitor.py` - Reroute compliance tracking
    
  version: 1.0.0
  contact:
    name: vATCSCC Development Team
    email: dev@vatcscc.org
    url: https://vatcscc.org
  license:
    name: Proprietary
    url: https://vatcscc.org/terms

servers:
  - url: https://perti.vatcscc.org/api/swim/v1
    description: Production server

tags:
  - name: Info
    description: API information and status
  - name: Flights
    description: |
      Flight data retrieval.
      
      **Use Cases:**
      - Virtual Airlines: `?callsign=DAL*` for fleet tracking
      - Facility/vNAS: `?artcc=ZNY` for sector traffic monitoring
      - TMI: `?tmi_controlled=true` for controlled flights
      - Demand: `?dest_icao=KJFK` for arrival demand analysis
  - name: Positions
    description: |
      Flight positions in GeoJSON FeatureCollection format.
      
      **Use Cases:**
      - Map visualization for traffic displays
      - Route compliance: `?include_route=true`
      - Sector monitoring: `?artcc=ZNY`
      - Geographic filtering: `?bounds=minLon,minLat,maxLon,maxLat`
  - name: TMI
    description: |
      Traffic Management Initiative data.

      **Use Cases:**
      - TMI Monitor: Track active Ground Stops and GDPs
      - Slot Lists: Get flights with EDCT assignments
      - Controlled Flight Counts: Statistics by airport/ARTCC
  - name: Metering
    description: |
      TBFM-style metering data for arrival sequence management.

      **Use Cases:**
      - vNAS/CRC: Arrival sequence display in datablocks (SEQ, STA, DLA_ASGN)
      - SimTraffic: TBFM metering time and delay data
      - STARS/ERAM: Metering status and frozen indicators

      **FIXM Alignment:**
      - sequence_number → sequenceNumber (SEQ)
      - scheduled_time_of_arrival → scheduledTimeOfArrival (STA)
      - metering_time → meteringTime (MF_TIME)
      - metering_delay → delayValue (DLA_ASGN)
  - name: Ingest
    description: |
      Data ingestion endpoints (write access required).

      **Use Cases:**
      - Virtual Airlines: Push OOOI times and telemetry
      - CRC/vNAS: Batch track position updates
      - TMI Systems: Slot assignments and control status

      **Note:** Requires partner or system tier API key
  - name: JATOC
    description: |
      Joint Air Traffic Operations Center data.

      **Use Cases:**
      - Incident tracking and reporting
      - Facility status monitoring
      - Operational coordination
  - name: Reference
    description: |
      Reference data and statistical baselines.

      **Use Cases:**
      - Unimpeded taxi-out times per airport (FAA ASPM methodology)
      - Dimensional breakdowns by weight class, carrier, engine configuration
      - Ground Stop delay estimation (actual vs. unimpeded taxi comparison)
  - name: Configuration
    description: |
      Airport and facility configuration data.

      **Use Cases:**
      - Runway configuration presets
      - Airport operating conditions
      - FEA (Flow Evaluation Area) parameters

security:
  - bearerAuth: []
  - apiKeyHeader: []

paths:
  /:
    get:
      tags:
        - Info
      summary: API Information
      description: Returns API version, available endpoints, and authentication information.
      operationId: getApiInfo
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInfoResponse'
              example:
                success: true
                data:
                  name: VATSWIM API
                  version: "1.0.0"
                  description: System Wide Information Management for VATSIM
                  documentation: https://perti.vatcscc.org/docs/swim/
                  endpoints:
                    flights:
                      GET /api/swim/v1/flights: List flights with filters
                      GET /api/swim/v1/flight: Get single flight by GUFI or flight_key
                    positions:
                      GET /api/swim/v1/positions: Bulk flight positions (GeoJSON)
                    tmi:
                      GET /api/swim/v1/tmi/programs: Active TMI programs (GS/GDP)
                      GET /api/swim/v1/tmi/controlled: Flights under TMI control
                    metering:
                      GET /api/swim/v1/metering/{airport}: Metering data for airport arrivals (FIXM/TBFM)
                      GET /api/swim/v1/metering/{airport}/sequence: Arrival sequence list for datablocks
                    ingest:
                      POST /api/swim/v1/ingest/adl: Ingest ADL flight data
                      POST /api/swim/v1/ingest/track: Ingest track position data
                      POST /api/swim/v1/ingest/metering: Ingest TBFM metering data (SimTraffic)
                  authentication:
                    type: Bearer token
                    header: "Authorization: Bearer {api_key}"
                    tiers:
                      system: "30,000 req/min, full write"
                      partner: "3,000 req/min, limited write"
                      developer: "300 req/min, read-only"
                      public: "100 req/min, read-only"
                  contact:
                    email: dev@vatcscc.org
                    discord: vATCSCC Server
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  server_time: "2026-01-16T12:00:00Z"
                  api_prefix: /api/swim/v1

  /flights:
    get:
      tags:
        - Flights
      summary: List Flights
      description: |
        Returns a paginated list of flights with optional filters.
        
        Data is sourced from the SWIM_API database which syncs from VATSIM_ADL 
        every 2 minutes. For real-time data, consider the WebSocket stream (Phase 2).
      operationId: listFlights
      parameters:
        - name: status
          in: query
          description: Filter by flight status
          schema:
            type: string
            enum: [active, completed, all]
            default: active
        - name: dept_icao
          in: query
          description: Filter by departure airport(s). Comma-separated ICAO codes.
          schema:
            type: string
          example: KJFK,KEWR,KLGA
        - name: dest_icao
          in: query
          description: Filter by destination airport(s). Comma-separated ICAO codes.
          schema:
            type: string
          example: KLAX,KSFO
        - name: artcc
          in: query
          description: Filter by destination ARTCC(s). Comma-separated facility IDs.
          schema:
            type: string
          example: ZNY,ZDC
        - name: callsign
          in: query
          description: Filter by callsign pattern. Use `*` as wildcard.
          schema:
            type: string
          example: UAL*
        - name: tmi_controlled
          in: query
          description: Filter to only flights under TMI control (GS held or controlled)
          schema:
            type: string
            enum: ['true', 'false', '1', '0']
        - name: phase
          in: query
          description: Filter by flight phase(s). Comma-separated values.
          schema:
            type: string
          example: ENROUTE,DESCENT
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Paginated list of flights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightsListResponse'
            application/xml:
              schema:
                type: string
                description: XML formatted flight data
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoJsonFeatureCollection'
            text/csv:
              schema:
                type: string
                description: CSV formatted flight data with header row
            application/vnd.google-earth.kml+xml:
              schema:
                type: string
                description: KML formatted flight data for Google Earth
            application/x-ndjson:
              schema:
                type: string
                description: Newline-delimited JSON (one flight per line)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'

  /flight:
    get:
      tags:
        - Flights
      summary: Get Single Flight
      description: |
        Returns detailed information for a single flight identified by GUFI, 
        flight_uid, or flight_key.
        
        This endpoint queries VATSIM_ADL directly for full detail (minimal cost 
        impact for single-record lookups).
      operationId: getFlight
      parameters:
        - name: gufi
          in: query
          description: Globally Unique Flight Identifier (VAT-YYYYMMDD-CALLSIGN-DEPT-DEST)
          schema:
            type: string
          example: VAT-20260115-UAL123-KJFK-KLAX
        - name: flight_uid
          in: query
          description: Internal flight unique identifier
          schema:
            type: integer
            format: int64
        - name: flight_key
          in: query
          description: Flight key string
          schema:
            type: string
        - name: include_history
          in: query
          description: Include inactive/historical flights in search
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: Flight details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightDetailResponse'
        '400':
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: "Missing required parameter: gufi, flight_uid, or flight_key"
                status: 400
                code: MISSING_PARAM
        '404':
          description: Flight not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: "Flight not found"
                status: 404
                code: NOT_FOUND
        '401':
          $ref: '#/components/responses/Unauthorized'

  /positions:
    get:
      tags:
        - Positions
      summary: Get Flight Positions (GeoJSON)
      description: |
        Returns current positions of all active flights in GeoJSON FeatureCollection format.
        
        Ideal for map visualization. Each feature includes callsign, aircraft type,
        altitude, heading, groundspeed, and TMI status.
      operationId: getPositions
      parameters:
        - name: dept_icao
          in: query
          description: Filter by departure airport(s)
          schema:
            type: string
        - name: dest_icao
          in: query
          description: Filter by destination airport(s)
          schema:
            type: string
        - name: artcc
          in: query
          description: Filter by destination ARTCC(s)
          schema:
            type: string
        - name: bounds
          in: query
          description: Geographic bounding box (minLon,minLat,maxLon,maxLat)
          schema:
            type: string
          example: "-125.0,24.0,-66.0,50.0"
        - name: tmi_controlled
          in: query
          description: Filter to only TMI-controlled flights
          schema:
            type: string
            enum: ['true', 'false', '1', '0']
        - name: phase
          in: query
          description: Filter by flight phase(s)
          schema:
            type: string
        - name: include_route
          in: query
          description: Include route string in properties
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Flight positions in requested format
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/PositionsGeoJSON'
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsGeoJSON'
            application/xml:
              schema:
                type: string
                description: XML formatted position data
            text/csv:
              schema:
                type: string
                description: CSV formatted position data
            application/vnd.google-earth.kml+xml:
              schema:
                type: string
                description: KML formatted position data for Google Earth
            application/x-ndjson:
              schema:
                type: string
                description: Newline-delimited JSON (one position per line)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /tmi/programs:
    get:
      tags:
        - TMI
      summary: Get Active TMI Programs
      description: |
        Returns active Traffic Management Initiative programs including Ground Stops 
        and Ground Delay Programs.
        
        - Ground Stops are sourced from MySQL (tmi_ground_stops table)
        - GDP Programs are sourced from Azure SQL (gdp_log table)
      operationId: getTmiPrograms
      parameters:
        - name: type
          in: query
          description: Filter by program type
          schema:
            type: string
            enum: [all, gs, gdp]
            default: all
        - name: airport
          in: query
          description: Filter by affected airport(s)
          schema:
            type: string
          example: KJFK,KEWR
        - name: artcc
          in: query
          description: Filter by ARTCC
          schema:
            type: string
          example: ZNY
        - name: include_history
          in: query
          description: Include recently ended programs (last 2 hours)
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: TMI programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiProgramsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/controlled:
    get:
      tags:
        - TMI
      summary: Get TMI-Controlled Flights
      description: |
        Returns flights currently under Traffic Management Initiative control,
        including flights held by Ground Stops, assigned GDP slots, AFP delays,
        or reroutes.
      operationId: getTmiControlledFlights
      parameters:
        - name: type
          in: query
          description: Filter by TMI type
          schema:
            type: string
            enum: [all, gs, gdp, afp, reroute]
            default: all
        - name: airport
          in: query
          description: Filter by destination airport(s)
          schema:
            type: string
        - name: artcc
          in: query
          description: Filter by destination ARTCC(s)
          schema:
            type: string
        - name: dept_icao
          in: query
          description: Filter by departure airport(s)
          schema:
            type: string
        - name: phase
          in: query
          description: Filter by flight phase(s)
          schema:
            type: string
        - name: include_exempt
          in: query
          description: Include exempt flights
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: TMI-controlled flights with statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiControlledResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /metering/{airport}:
    get:
      tags:
        - Metering
      summary: Get Metering Data for Airport
      description: |
        Returns TBFM-style metering data for all arrivals to an airport.
        Includes sequence numbers, scheduled times, delays, and metering status.

        **Use Cases:**
        - vNAS/CRC: Display metering data in arrival datablocks
        - TMI Coordination: Monitor arrival sequence and delays
        - SimTraffic: Retrieve current metering state

        **FIXM Field Mapping:**
        - sequence_number → SEQ (arrival sequence position)
        - scheduled_time_of_arrival → STA (scheduled runway time)
        - metering_time → MF_TIME (meter fix crossing time)
        - metering_delay → DLA_ASGN (assigned delay in minutes)
        - metering_status → UNMETERED|METERED|FROZEN|SUSPENDED|EXEMPT
      operationId: getMeteringData
      parameters:
        - name: airport
          in: path
          required: true
          description: Destination airport ICAO code (e.g., KJFK)
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KJFK
        - name: status
          in: query
          description: Filter by metering status
          schema:
            type: string
            enum: [UNMETERED, METERED, FROZEN, SUSPENDED, EXEMPT]
        - name: runway
          in: query
          description: Filter by arrival runway
          schema:
            type: string
          example: 31L
        - name: stream
          in: query
          description: Filter by arrival stream (corner post)
          schema:
            type: string
          example: NORTH
        - name: metered_only
          in: query
          description: Only return flights with metering data (default true)
          schema:
            type: string
            enum: ['true', 'false']
            default: 'true'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Metering data for airport arrivals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringDataResponse'
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/x-ndjson:
              schema:
                type: string
        '400':
          description: Invalid airport code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /metering/{airport}/sequence:
    get:
      tags:
        - Metering
      summary: Get Arrival Sequence List
      description: |
        Returns a compact arrival sequence list sorted by sequence number.
        Optimized for datablock display with minimal fields.

        **Response includes:**
        - callsign, gufi, sequence_number
        - scheduled_time_of_arrival (STA)
        - metering_delay, metering_frozen, metering_status
        - arrival_runway, arrival_stream
        - aircraft_type, weight_class, departure airport
      operationId: getArrivalSequence
      parameters:
        - name: airport
          in: path
          required: true
          description: Destination airport ICAO code
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KJFK
        - name: status
          in: query
          description: Filter by metering status
          schema:
            type: string
            enum: [UNMETERED, METERED, FROZEN, SUSPENDED, EXEMPT]
        - name: runway
          in: query
          description: Filter by arrival runway
          schema:
            type: string
        - name: stream
          in: query
          description: Filter by arrival stream
          schema:
            type: string
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Arrival sequence list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringSequenceResponse'
        '400':
          description: Invalid airport code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ingest/adl:
    post:
      tags:
        - Ingest
      summary: Ingest ADL Flight Data
      description: |
        Receives ADL (Aggregate Demand List) data from authoritative sources.
        
        **Requires write access** (system or partner tier API key).
        
        Maximum batch size: 500 flights per request.
      operationId: ingestAdl
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdlIngestRequest'
            example:
              flights:
                - callsign: UAL123
                  dept_icao: KJFK
                  dest_icao: KLAX
                  cid: 1234567
                  aircraft_type: B738
                  route: DCT JFK J584 ORD J64 LAX
                  current_phase: ENROUTE
                  is_active: true
                  tmi:
                    ctl_type: GDP
                    slot_time_utc: "2026-01-15T18:30:00Z"
                    delay_minutes: 45
      responses:
        '200':
          description: Ingest results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
              example:
                success: true
                data:
                  processed: 1
                  created: 1
                  updated: 0
                  errors: 0
                  error_details: []
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  source: vatcscc
                  batch_size: 1
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: 'Source "developer" is not authorized to write ADL data.'
                status: 403
                code: NOT_AUTHORITATIVE

  /ingest/track:
    post:
      tags:
        - Ingest
      summary: Ingest Track Position Data
      description: |
        Receives real-time track/position updates from authoritative sources
        (vNAS, CRC, EuroScope, AOC systems).

        **Requires write access** (system or partner tier API key with track authority).

        Maximum batch size: 1000 tracks per request (higher limit for frequent updates).

        Updates position data for existing flights in swim_flights table.
        Flights not found are logged but not created.
      operationId: ingestTrack
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackIngestRequest'
            example:
              tracks:
                - callsign: UAL123
                  latitude: 40.6413
                  longitude: -73.7781
                  altitude_ft: 35000
                  ground_speed_kts: 450
                  heading_deg: 270
                  vertical_rate_fpm: -500
                  squawk: "1200"
                  track_source: radar
      responses:
        '200':
          description: Track ingest results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackIngestResponse'
              example:
                success: true
                data:
                  processed: 100
                  updated: 95
                  not_found: 5
                  errors: 0
                  error_details: []
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  source: vnas
                  batch_size: 100
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: 'Source "developer" is not authorized to write track data.'
                status: 403
                code: NOT_AUTHORITATIVE

  /ingest/metering:
    post:
      tags:
        - Ingest
      summary: Ingest TBFM Metering Data
      description: |
        Receives TBFM-style metering data from authoritative sources (SimTraffic, vATCSCC).
        Updates FIXM-aligned metering fields in swim_flights table.

        **Requires write access** (system or partner tier API key with metering authority).

        Maximum batch size: 500 metering records per request.

        **FIXM Field Mapping:**
        - sequence_number → sequenceNumber (SEQ)
        - scheduled_time_of_arrival → scheduledTimeOfArrival (STA)
        - metering_point → meteringPoint (MF)
        - metering_time → meteringTime (MF_TIME)
        - metering_delay → delayValue (DLA_ASGN)
        - metering_frozen → frozenIndicator (FROZEN)
        - arrival_stream → arrivalStream (GATE)
        - metering_status → UNMETERED|METERED|FROZEN|SUSPENDED|EXEMPT
      operationId: ingestMetering
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeteringIngestRequest'
            example:
              airport: KJFK
              metering_point: CAMRN
              metering:
                - callsign: UAL123
                  sequence_number: 5
                  scheduled_time_of_arrival: "2026-01-16T18:30:00Z"
                  metering_time: "2026-01-16T18:15:00Z"
                  metering_delay: 5
                  metering_frozen: true
                  arrival_stream: NORTH
                  arrival_runway: 31L
                  metering_status: METERED
      responses:
        '200':
          description: Metering ingest results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringIngestResponse'
              example:
                success: true
                data:
                  processed: 10
                  updated: 8
                  not_found: 2
                  errors: 0
                  error_details: []
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  source: simtraffic
                  airport: KJFK
                  metering_point: CAMRN
                  batch_size: 10
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: 'Source "developer" is not authorized to write metering data.'
                status: 403
                code: NOT_AUTHORITATIVE

  /tmi/reroutes:
    get:
      tags:
        - TMI
      summary: Get TMI Reroute Definitions
      description: |
        Returns reroute definitions for Traffic Management Initiatives.
        Reroutes direct traffic around affected areas (weather, congestion, etc.).

        **Status Values:**
        - 0 = Draft
        - 1 = Proposed
        - 2 = Active
        - 3 = Monitoring
        - 4 = Expired
        - 5 = Cancelled
      operationId: getReroutes
      parameters:
        - name: status
          in: query
          description: Filter by status (comma-separated for multiple)
          schema:
            type: string
          example: "1,2,3"
        - name: active
          in: query
          description: If "1", returns only active reroutes (status 1,2,3)
          schema:
            type: string
            enum: ['0', '1']
        - name: limit
          in: query
          description: Maximum results to return
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Reroute definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReroutesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs:
    get:
      tags:
        - TMI
      summary: List Ground Stop Programs
      description: |
        Returns Ground Stop programs with optional filters.
        Ground Stops halt all departures to an affected airport.

        **FIXM/TFMS Alignment:**
        - program_type = GS (Ground Stop)
        - ctl_element = controlElement (affected airport)
        - status follows NTML lifecycle: PROPOSED → ACTIVE → COMPLETED/PURGED

        **Status Values:**
        - PROPOSED: Created but not yet active
        - ACTIVE: Currently in effect
        - COMPLETED: Ended normally
        - PURGED: Cancelled before end time
      operationId: listGroundStops
      parameters:
        - name: airport
          in: query
          description: Filter by affected airport (ctl_element)
          schema:
            type: string
          example: KJFK
        - name: status
          in: query
          description: Filter by program status
          schema:
            type: string
            enum: [PROPOSED, ACTIVE, COMPLETED, PURGED]
        - name: active_only
          in: query
          description: Only return currently active GS programs
          schema:
            type: boolean
            default: false
        - name: include_history
          in: query
          description: Include recently completed/purged programs (last 2 hours)
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Maximum results
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Ground Stop programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStopListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - TMI
      summary: Create Ground Stop Program
      description: |
        Creates a new Ground Stop program in PROPOSED state.
        Requires system or partner tier API key with TMI authority.

        **Scope Types:**
        - TIER: Tier-based scope (1=local, 2=regional, 3=national)
        - DISTANCE: Distance-based in nautical miles
        - MANUAL: Custom airport/center list

        **FIXM Field Mapping:**
        - ctl_element → controlElement
        - start_utc/end_utc → validTimeBegin/validTimeEnd
        - impacting_condition → reason
        - scope_type → scopeType
      operationId: createGroundStop
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroundStopCreateRequest'
            example:
              ctl_element: KJFK
              start_utc: "2026-01-16T15:00:00Z"
              end_utc: "2026-01-16T17:00:00Z"
              scope_type: TIER
              scope_tier: 1
              exempt_airborne: true
              exempt_within_min: 45
              impacting_condition: WEATHER
              cause_text: "Low visibility - IFR conditions"
              prob_extension: MEDIUM
      responses:
        '200':
          description: Ground Stop created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStopCreateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tmi/gs/{program_id}:
    get:
      tags:
        - TMI
      summary: Get Ground Stop Program Details
      description: Returns detailed information for a specific Ground Stop program.
      operationId: getGroundStop
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID
          schema:
            type: integer
          example: 123
      responses:
        '200':
          description: Ground Stop program details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStopDetailResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs/{program_id}/flights:
    get:
      tags:
        - TMI
      summary: Get Flights Affected by Ground Stop
      description: |
        Returns flights affected by a Ground Stop program.
        Includes controlled flights (held) and exempt flights.

        **FIXM Field Mapping:**
        - gs_held → groundStopHeld
        - ctl_exempt → exemptIndicator
        - ctl_exempt_reason → exemptReason
      operationId: getGroundStopFlights
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID
          schema:
            type: integer
        - name: include_exempt
          in: query
          description: Include exempt flights in response
          schema:
            type: boolean
            default: true
        - name: include_airborne
          in: query
          description: Include airborne flights in response
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Flights affected by Ground Stop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiFlightsResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs/{program_id}/model:
    post:
      tags:
        - TMI
      summary: Model Ground Stop Impact
      description: |
        Models the impact of a Ground Stop on traffic.
        Returns affected flights and metrics without activating the program.
        Use this before activation to preview impact.
      operationId: modelGroundStop
      security:
        - bearerAuth: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID to model
          schema:
            type: integer
      responses:
        '200':
          description: Ground Stop model results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiModelResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs/{program_id}/activate:
    post:
      tags:
        - TMI
      summary: Activate Ground Stop Program
      description: |
        Activates a PROPOSED Ground Stop program.
        Changes status from PROPOSED to ACTIVE and begins controlling flights.
      operationId: activateGroundStop
      security:
        - bearerAuth: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID to activate
          schema:
            type: integer
      responses:
        '200':
          description: Ground Stop activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiActivateResponse'
        '400':
          description: Program cannot be activated (wrong status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tmi/gdp:
    get:
      tags:
        - TMI
      summary: List Ground Delay Programs
      description: |
        Returns Ground Delay Program (GDP) programs with optional filters.
        GDPs assign arrival slots to flights to manage demand at capacity-constrained airports.

        **FIXM/TFMS Alignment:**
        - program_type = GDP (Ground Delay Program)
        - program_rate → programRate (arrivals per hour)
        - delay_limit → delayLimit (maximum assignable delay)
        - Slot assignment follows EBSA (ETA-Based Slot Allocation)

        **GDP Variants:**
        - GDP-DAS: Delay Assignment
        - GDP-GAAP: Ground Delay Program at Alternate Airports
        - GDP-UDP: Unified Delay Program
      operationId: listGroundDelayPrograms
      parameters:
        - name: airport
          in: query
          description: Filter by affected airport (ctl_element)
          schema:
            type: string
          example: KATL
        - name: status
          in: query
          description: Filter by program status
          schema:
            type: string
            enum: [DRAFT, SIMULATED, ACTIVE, EXPIRED, PURGED]
        - name: active_only
          in: query
          description: Only return currently active GDP programs
          schema:
            type: boolean
            default: false
        - name: include_history
          in: query
          description: Include recently completed programs (last 2 hours)
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Maximum results
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: GDP programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - TMI
      summary: Create/Simulate Ground Delay Program
      description: |
        Creates and simulates a Ground Delay Program.
        Runs EBSA (ETA-Based Slot Allocation) algorithm to assign arrival slots.

        **Rate Configuration:**
        - program_rate: Default arrivals/hour (simple mode)
        - program_rates_hourly: JSON object with hourly rates (detailed mode)
        - reserve_rate: Reserved slots/hour for pop-up flights

        **Scope Configuration:**
        - origin_airports: Specific departure airports
        - origin_centers: Departure ARTCCs (e.g., ZNY, ZBW)
        - distance_nm: Distance-based scope from destination

        **FIXM Field Mapping:**
        - program_rate → programRate
        - delay_limit → delayLimit
        - reserve_rate → reserveRate
        - slot_time_utc → slotTime (CTA)
        - program_delay_min → delayValue
      operationId: createGroundDelayProgram
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GdpCreateRequest'
            example:
              gdp_airport: KATL
              gdp_start: "2026-01-16T14:00:00Z"
              gdp_end: "2026-01-16T20:00:00Z"
              program_rate: 60
              reserve_rate: 5
              delay_limit: 180
              gdp_origin_centers: "ZTL ZJX ZDC"
              impacting_condition: WEATHER
              adv_number: "ADVZY 001"
      responses:
        '200':
          description: GDP simulation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpSimulateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tmi/gdp/{program_id}/flights:
    get:
      tags:
        - TMI
      summary: Get Flights in GDP
      description: |
        Returns flights controlled by a Ground Delay Program.
        Includes slot assignments, delays, and exemption status.

        **FIXM Field Mapping:**
        - gdp_slot_time_utc → slotTime (CTA)
        - program_delay_min → delayValue
        - ctl_type → controlType (GDP, GDP-CAP, GDP-STK)
      operationId: getGdpFlights
      parameters:
        - name: program_id
          in: path
          required: true
          description: GDP program ID
          schema:
            type: string
          example: GDP-KATL-202601161400
      responses:
        '200':
          description: GDP flight list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpFlightsResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gdp/{program_id}/slots:
    get:
      tags:
        - TMI
      summary: Get GDP Arrival Slots
      description: |
        Returns arrival slot allocation for a Ground Delay Program.
        Slots are allocated in 15-minute bins based on program rate.

        **Slot Types:**
        - REGULAR: Standard arrival slots
        - RESERVED: Reserved for pop-up flights

        **Slot Status:**
        - OPEN: Available for assignment
        - ASSIGNED: Flight assigned to slot
        - BRIDGED: Slot bridged via SCS/ECR
        - CANCELLED: Slot cancelled
      operationId: getGdpSlots
      parameters:
        - name: program_id
          in: path
          required: true
          description: GDP program ID
          schema:
            type: string
          example: GDP-KATL-202601161400
        - name: status
          in: query
          description: Filter by slot status
          schema:
            type: string
            enum: [OPEN, ASSIGNED, BRIDGED, CANCELLED]
        - name: hour
          in: query
          description: Filter by hour (0-23)
          schema:
            type: integer
            minimum: 0
            maximum: 23
      responses:
        '200':
          description: GDP slot allocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpSlotsResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/mit:
    get:
      tags:
        - TMI
      summary: List Miles-In-Trail Restrictions
      description: |
        Returns active Miles-In-Trail (MIT) restrictions.
        MIT requires specified spacing (in nautical miles) between aircraft.

        **FIXM/TFMS Alignment:**
        - restriction_type = MIT
        - value_nm → spacingValue (spacing in NM)
        - fix → constraintFix
        - direction → flowDirection (EAST, WEST, ALL)

        **Common MIT Values:**
        - 10 MIT: Light traffic management
        - 15 MIT: Moderate spacing
        - 20+ MIT: Significant restrictions
      operationId: listMilesInTrail
      parameters:
        - name: facility
          in: query
          description: Filter by issuing facility
          schema:
            type: string
          example: ZNY
        - name: fix
          in: query
          description: Filter by affected fix/waypoint
          schema:
            type: string
          example: CAMRN
        - name: active_only
          in: query
          description: Only return active restrictions
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: MIT restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MitListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/minit:
    get:
      tags:
        - TMI
      summary: List Minutes-In-Trail Restrictions
      description: |
        Returns active Minutes-In-Trail (MINIT) restrictions.
        MINIT requires specified time spacing (in minutes) between aircraft.

        **FIXM/TFMS Alignment:**
        - restriction_type = MINIT
        - value_min → spacingValue (spacing in minutes)
        - fix → constraintFix

        **Use Cases:**
        - Departure spacing from airports
        - Arrival metering at fixes
        - Sector capacity management
      operationId: listMinutesInTrail
      parameters:
        - name: facility
          in: query
          description: Filter by issuing facility
          schema:
            type: string
          example: ZBW
        - name: fix
          in: query
          description: Filter by affected fix/waypoint
          schema:
            type: string
        - name: active_only
          in: query
          description: Only return active restrictions
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: MINIT restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinitListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/afp:
    get:
      tags:
        - TMI
      summary: List Airspace Flow Programs
      description: |
        Returns Airspace Flow Program (AFP) data.
        AFPs manage traffic through constrained airspace using time-based slots.

        **FIXM/TFMS Alignment:**
        - program_type = AFP
        - fca → flowConstraintArea
        - rate → programRate

        **AFP vs GDP:**
        - GDP: Manages arrivals to a single airport
        - AFP: Manages traffic through airspace (FCA - Flow Constraint Area)
      operationId: listAirspaceFlowPrograms
      parameters:
        - name: fca
          in: query
          description: Filter by Flow Constraint Area
          schema:
            type: string
          example: FCA_EAST
        - name: status
          in: query
          description: Filter by program status
          schema:
            type: string
            enum: [PROPOSED, ACTIVE, COMPLETED, PURGED]
        - name: active_only
          in: query
          description: Only return active programs
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: AFP programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfpListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /fea:
    get:
      tags:
        - Configuration
      summary: List Flow Evaluation Areas
      description: |
        Returns Flow Evaluation Area (FEA) definitions.
        FEAs are geographic areas used for traffic flow analysis and TMI planning.

        **FIXM/TFMS Alignment:**
        - fea_id → flowEvaluationAreaId
        - boundary → boundaryGeometry (GeoJSON)
        - airports → affectedAerodromes

        **Use Cases:**
        - Weather impact analysis
        - Demand/capacity modeling
        - Reroute definition
      operationId: listFlowEvaluationAreas
      parameters:
        - name: artcc
          in: query
          description: Filter by ARTCC
          schema:
            type: string
          example: ZNY
        - name: active_only
          in: query
          description: Only return active FEAs
          schema:
            type: boolean
            default: true
        - name: include_geometry
          in: query
          description: Include boundary GeoJSON
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: FEA definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /jatoc/incidents:
    get:
      tags:
        - JATOC
      summary: Get JATOC Incidents
      description: |
        Returns JATOC (Joint Air Traffic Operations Center) incident records.
        Incidents track operational issues affecting ATC facilities.
      operationId: getJatocIncidents
      parameters:
        - name: lifecycle_status
          in: query
          description: Filter by lifecycle status
          schema:
            type: string
            enum: [OPEN, IN_PROGRESS, RESOLVED, CLOSED]
        - name: facility
          in: query
          description: Filter by facility (partial match)
          schema:
            type: string
          example: KJFK
        - name: facilities
          in: query
          description: Filter by multiple facilities (comma-separated, exact match)
          schema:
            type: string
          example: "KJFK,KEWR,KLGA"
        - name: facility_type
          in: query
          description: Filter by facility type
          schema:
            type: string
            enum: [ARTCC, TRACON, ATCT, FSS]
        - name: incident_type
          in: query
          description: Filter by incident type
          schema:
            type: string
        - name: limit
          in: query
          description: Results per page
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: JATOC incidents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JatocIncidentsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /splits/presets:
    get:
      tags:
        - Configuration
      summary: Get Runway Split Presets
      description: |
        Returns saved runway configuration presets.
        Presets define runway configurations for airports (arrivals, departures, rates).
      operationId: getSplitPresets
      parameters:
        - name: artcc
          in: query
          description: Filter by ARTCC
          schema:
            type: string
          example: ZNY
        - name: airport
          in: query
          description: Filter by airport
          schema:
            type: string
          example: KJFK
        - name: id
          in: query
          description: Get single preset by ID
          schema:
            type: integer
      responses:
        '200':
          description: Split presets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitPresetsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /reference/taxi-times:
    get:
      tags:
        - Reference
      summary: Airport Taxi-Out Reference Times
      description: |
        Returns unimpeded taxi-out reference times for all airports, computed using
        FAA ASPM methodology (average of p5-p15 percentile observations over a 90-day
        rolling window, minimum 50 samples).

        Data refreshes daily at 02:00Z via stored procedure.
      operationId: getTaxiTimes
      parameters:
        - name: confidence
          in: query
          description: Filter by confidence level
          schema:
            type: string
            enum: [HIGH, MEDIUM, LOW, DEFAULT]
        - name: min_samples
          in: query
          description: Minimum sample count filter
          schema:
            type: integer
            minimum: 0
        - name: format
          in: query
          description: Response format
          schema:
            type: string
            enum: [json, fixm, xml, csv, ndjson]
            default: json
      responses:
        '200':
          description: List of airport taxi reference times
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxiTimeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /reference/taxi-times/{airport}:
    get:
      tags:
        - Reference
      summary: Airport Taxi-Out Reference Detail
      description: |
        Returns unimpeded taxi-out reference time for a single airport, including
        dimensional breakdowns by weight class, carrier, engine configuration,
        and destination region.
      operationId: getTaxiTimeDetail
      parameters:
        - name: airport
          in: path
          required: true
          description: ICAO airport code (e.g., KJFK, KLAX)
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KJFK
        - name: format
          in: query
          description: Response format
          schema:
            type: string
            enum: [json, fixm, xml, csv, ndjson]
            default: json
      responses:
        '200':
          description: Airport taxi reference with dimensional breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxiTimeDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Airport not found in taxi reference data

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        API key with tier prefix (preferred method):
        - `swim_sys_*` - System tier (30,000 req/min, full write)
        - `swim_par_*` - Partner tier (3,000 req/min, limited write)
        - `swim_dev_*` - Developer tier (300 req/min, read-only)
        - `swim_pub_*` - Public tier (100 req/min, read-only)
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Alternative authentication via X-API-Key header.
        Use this if Authorization header doesn't work (e.g., IIS environments).
        Same API key format as Bearer auth.

  parameters:
    page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 1
    per_page:
      name: per_page
      in: query
      description: Results per page
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
    format:
      name: format
      in: query
      description: |
        Response format. Available formats vary by endpoint:

        **Flights endpoint** (`/flights`):
        - `json` (default): Standard JSON with snake_case field names
        - `fixm`: JSON with FIXM 4.3.0 camelCase field names
        - `xml`: XML format for enterprise/SOAP integrations
        - `geojson`: GeoJSON FeatureCollection for mapping (Leaflet, Mapbox)
        - `csv`: CSV for spreadsheet/analytics export
        - `kml`: KML for Google Earth visualization
        - `ndjson`: Newline-delimited JSON for streaming/bulk processing

        **Metering endpoint** (`/metering`):
        - `json`, `fixm`, `xml`, `csv`, `ndjson` (no geojson/kml - data isn't spatial)

        **Positions endpoint** (`/positions`):
        - All formats supported
      schema:
        type: string
        enum: [fixm, json, xml, geojson, csv, kml, ndjson]
        default: fixm
      example: fixm

  responses:
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing_header:
              summary: Missing Authorization header
              value:
                error: true
                message: Missing Authorization header
                status: 401
                code: UNAUTHORIZED
            invalid_key:
              summary: Invalid API key
              value:
                error: true
                message: API key not found or inactive
                status: 401
                code: UNAUTHORIZED
    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: true
            message: Rate limit exceeded
            status: 429
            code: RATE_LIMIT
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: true
            message: Database error
            status: 500
            code: DB_ERROR

  schemas:
    ErrorResponse:
      type: object
      required:
        - error
        - message
        - status
      properties:
        error:
          type: boolean
          example: true
        message:
          type: string
        status:
          type: integer
        code:
          type: string

    ApiInfoResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
            description:
              type: string
            documentation:
              type: string
            endpoints:
              type: object
            authentication:
              type: object
            contact:
              type: object
        timestamp:
          type: string
          format: date-time
        meta:
          type: object

    FlightIdentity:
      type: object
      properties:
        callsign:
          type: string
          example: UAL123
        cid:
          type: integer
          description: VATSIM CID
          example: 1234567
        aircraft_type:
          type: string
          example: B738
        aircraft_icao:
          type: string
          example: B738
        aircraft_faa:
          type: string
          example: B738/L
        weight_class:
          type: string
          enum: [L, M, H, J]
          example: L
        wake_category:
          type: string
          enum: [L, M, H, J]
        airline_icao:
          type: string
          example: UAL
        airline_name:
          type: string
          example: United Airlines

    FlightPlan:
      type: object
      properties:
        departure:
          type: string
          description: Departure airport ICAO
          example: KJFK
        destination:
          type: string
          description: Destination airport ICAO
          example: KLAX
        alternate:
          type: string
          description: Alternate airport ICAO
          example: KONT
        cruise_altitude:
          type: integer
          description: Filed cruise altitude (feet)
          example: 35000
        cruise_speed:
          type: integer
          description: Filed TAS (knots)
          example: 450
        route:
          type: string
          description: Filed route string
          example: DEEZZ5 DEEZZ J584 ORD J64 RIIVR2
        remarks:
          type: string
        flight_rules:
          type: string
          enum: [I, V, Y, Z]
          example: I
        departure_artcc:
          type: string
          example: ZNY
        destination_artcc:
          type: string
          example: ZLA
        departure_tracon:
          type: string
          example: N90
        destination_tracon:
          type: string
          example: SCT
        departure_fix:
          type: string
          example: DEEZZ
        departure_procedure:
          type: string
          example: DEEZZ5
        arrival_fix:
          type: string
          example: RIIVR
        arrival_procedure:
          type: string
          example: RIIVR2
        departure_runway:
          type: string
          example: 31L
        arrival_runway:
          type: string
          example: 25L

    FlightPosition:
      type: object
      properties:
        latitude:
          type: number
          format: double
          example: 40.6413
        longitude:
          type: number
          format: double
          example: -73.7781
        altitude_ft:
          type: integer
          example: 35000
        heading:
          type: integer
          minimum: 0
          maximum: 360
          example: 270
        ground_speed_kts:
          type: integer
          example: 485
        true_airspeed_kts:
          type: integer
          example: 450
        vertical_rate_fpm:
          type: integer
          example: 0
        current_artcc:
          type: string
          example: ZKC
        current_tracon:
          type: string
        current_zone:
          type: string
          enum: [RAMP, TAXI, DEPARTURE, TERMINAL, ENROUTE, ARRIVAL, APPROACH, SURFACE]

    FlightProgress:
      type: object
      properties:
        phase:
          type: string
          enum: [PROPOSED, DEPARTING, ENROUTE, DESCENT, ARRIVED, COMPLETED]
          example: ENROUTE
        is_active:
          type: boolean
          example: true
        distance_remaining_nm:
          type: number
          format: double
          example: 1234.5
        distance_flown_nm:
          type: number
          format: double
          example: 567.8
        gcd_nm:
          type: number
          format: double
          description: Great circle distance
          example: 2145.3
        route_total_nm:
          type: number
          format: double
          description: Total route distance
          example: 2234.7
        pct_complete:
          type: number
          format: double
          example: 45.2
        time_to_dest_min:
          type: number
          format: double
          example: 152.3

    FlightTimes:
      type: object
      properties:
        etd:
          type: string
          format: date-time
          description: Estimated time of departure
        etd_runway:
          type: string
          format: date-time
        eta:
          type: string
          format: date-time
          description: Estimated time of arrival
        eta_runway:
          type: string
          format: date-time
        eta_source:
          type: string
          example: CALCULATED
        eta_method:
          type: string
          example: GROUNDSPEED
        ete_minutes:
          type: integer
          description: Estimated time enroute
        out:
          type: string
          format: date-time
          description: OOOI - Out (pushback)
        off:
          type: string
          format: date-time
          description: OOOI - Off (takeoff)
        "on":
          type: string
          format: date-time
          description: OOOI - On (landing)
        in:
          type: string
          format: date-time
          description: OOOI - In (gate arrival)
        ctd:
          type: string
          format: date-time
          description: Controlled time of departure
        cta:
          type: string
          format: date-time
          description: Controlled time of arrival
        edct:
          type: string
          format: date-time
          description: Expect Departure Clearance Time

    FlightTmi:
      type: object
      description: Traffic Management Initiative data
      properties:
        is_controlled:
          type: boolean
          description: Flight is under some form of TMI control
          example: true
        ground_stop_held:
          type: boolean
          description: Flight is held due to Ground Stop
          example: false
        gs_release:
          type: string
          format: date-time
          description: Expected Ground Stop release time
        control_type:
          type: string
          enum: [GDP, GS, AFP, REROUTE, MIT, MINIT]
          example: GDP
        control_program:
          type: string
          description: Name of controlling program
          example: KJFK/GDP/WX
        control_element:
          type: string
          description: Controlled element (airport, fix, etc.)
          example: KJFK
        is_exempt:
          type: boolean
          example: false
        exempt_reason:
          type: string
        delay_minutes:
          type: integer
          example: 45
        delay_status:
          type: string
        slot_time:
          type: string
          format: date-time
          description: Assigned slot time
        program_id:
          type: integer
        slot_id:
          type: integer

    Flight:
      type: object
      description: Flight record with nested data sections
      properties:
        gufi:
          type: string
          description: Globally Unique Flight Identifier
          example: VAT-20260115-UAL123-KJFK-KLAX
        flight_uid:
          type: integer
          format: int64
        flight_key:
          type: string
        identity:
          $ref: '#/components/schemas/FlightIdentity'
        flight_plan:
          $ref: '#/components/schemas/FlightPlan'
        position:
          $ref: '#/components/schemas/FlightPosition'
        progress:
          $ref: '#/components/schemas/FlightProgress'
        times:
          $ref: '#/components/schemas/FlightTimes'
        tmi:
          $ref: '#/components/schemas/FlightTmi'
        _source:
          type: string
          example: vatcscc
        _first_seen:
          type: string
          format: date-time
        _last_seen:
          type: string
          format: date-time
        _logon_time:
          type: string
          format: date-time
        _last_sync:
          type: string
          format: date-time
          description: Last sync from VATSIM_ADL (SWIM_API only)

    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 2456
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 100
        total_pages:
          type: integer
          example: 25
        has_more:
          type: boolean
          example: true

    FlightsListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Flight'
        pagination:
          $ref: '#/components/schemas/Pagination'
        timestamp:
          type: string
          format: date-time

    FlightDetailResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Flight'
        timestamp:
          type: string
          format: date-time
        meta:
          type: object
          properties:
            source:
              type: string
              example: vatcscc
            lookup_method:
              type: string
              enum: [gufi, flight_uid, flight_key]
            schema_version:
              type: string
              example: normalized_v2

    PositionFeature:
      type: object
      properties:
        type:
          type: string
          enum: [Feature]
        id:
          type: integer
          format: int64
          description: flight_uid
        geometry:
          type: object
          properties:
            type:
              type: string
              enum: [Point]
            coordinates:
              type: array
              items:
                type: number
              minItems: 2
              maxItems: 3
              description: "[longitude, latitude, altitude_ft?]"
              example: [-95.5, 38.9, 35000]
        properties:
          type: object
          properties:
            flight_uid:
              type: integer
            callsign:
              type: string
            flight_key:
              type: string
            aircraft:
              type: string
            weight_class:
              type: string
            wake_category:
              type: string
            departure:
              type: string
            destination:
              type: string
            phase:
              type: string
            dest_artcc:
              type: string
            current_artcc:
              type: string
            altitude:
              type: integer
            heading:
              type: integer
            groundspeed:
              type: integer
            vertical_rate:
              type: integer
            distance_remaining_nm:
              type: number
            gcd_nm:
              type: number
            pct_complete:
              type: number
            tmi_status:
              type: string
              enum: [none, ground_stop, gdp, afp, reroute, mit]
            eta:
              type: string
              format: date-time
            ete_minutes:
              type: integer
            route_string:
              type: string
              description: Only included if include_route=true

    PositionsGeoJSON:
      type: object
      properties:
        type:
          type: string
          enum: [FeatureCollection]
        features:
          type: array
          items:
            $ref: '#/components/schemas/PositionFeature'
        metadata:
          type: object
          properties:
            count:
              type: integer
              example: 2456
            timestamp:
              type: string
              format: date-time
            source:
              type: string
              example: vatcscc
            database:
              type: string
              enum: [SWIM_API, VATSIM_ADL]

    GroundStop:
      type: object
      properties:
        type:
          type: string
          enum: [ground_stop]
        airport:
          type: string
          example: KJFK
        airport_name:
          type: string
          example: John F Kennedy Intl
        artcc:
          type: string
          example: ZNY
        name:
          type: string
          example: KJFK/WX
        reason:
          type: string
          example: Thunderstorms
        probability_of_extension:
          type: integer
          minimum: 0
          maximum: 100
          example: 40
        times:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        advisory:
          type: object
          properties:
            number:
              type: string
            text:
              type: string
        is_active:
          type: boolean

    GdpProgramSummary:
      type: object
      description: GDP program summary for TMI listings
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [gdp]
        program_id:
          type: string
        airport:
          type: string
          example: KSFO
        airport_name:
          type: string
          example: San Francisco Intl
        artcc:
          type: string
          example: ZOA
        reason:
          type: string
          example: Low Ceilings
        probability_of_extension:
          type: integer
        rates:
          type: object
          properties:
            program_rate:
              type: integer
              example: 40
        delays:
          type: object
          properties:
            limit_minutes:
              type: integer
              example: 90
            average_minutes:
              type: integer
              example: 45
            maximum_minutes:
              type: integer
              example: 75
        times:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        flights:
          type: object
          properties:
            total:
              type: integer
            affected:
              type: integer
        status:
          type: string
          enum: [ACTIVE, CANCELLED, EXPIRED]
        is_active:
          type: boolean

    TmiProgramsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            ground_stops:
              type: array
              items:
                $ref: '#/components/schemas/GroundStop'
            gdp_programs:
              type: array
              items:
                $ref: '#/components/schemas/GdpProgramSummary'
            summary:
              type: object
              properties:
                active_ground_stops:
                  type: integer
                active_gdp_programs:
                  type: integer
                total_controlled_airports:
                  type: integer
        timestamp:
          type: string
          format: date-time
        meta:
          type: object
          properties:
            source:
              type: string
            type_filter:
              type: string

    TmiControlledFlight:
      type: object
      properties:
        gufi:
          type: string
        flight_uid:
          type: integer
        flight_key:
          type: string
        callsign:
          type: string
        cid:
          type: integer
        aircraft:
          type: object
          properties:
            type:
              type: string
            icao:
              type: string
            weight_class:
              type: string
            wake_category:
              type: string
            airline_icao:
              type: string
            airline_name:
              type: string
        route:
          type: object
          properties:
            departure:
              type: string
            destination:
              type: string
            alternate:
              type: string
            departure_artcc:
              type: string
            destination_artcc:
              type: string
            departure_fix:
              type: string
            arrival_fix:
              type: string
        position:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
            altitude_ft:
              type: integer
            ground_speed_kts:
              type: integer
            heading:
              type: integer
            phase:
              type: string
            current_artcc:
              type: string
        progress:
          type: object
          properties:
            distance_remaining_nm:
              type: number
            gcd_nm:
              type: number
            pct_complete:
              type: number
            time_to_dest_min:
              type: number
        times:
          type: object
          properties:
            etd:
              type: string
              format: date-time
            eta:
              type: string
              format: date-time
            off:
              type: string
              format: date-time
            ctd:
              type: string
              format: date-time
            cta:
              type: string
              format: date-time
            edct:
              type: string
              format: date-time
        tmi:
          type: object
          properties:
            type:
              type: string
              enum: [GROUND_STOP, GDP, AFP, REROUTE, UNKNOWN]
            program:
              type: string
            element:
              type: string
            is_exempt:
              type: boolean
            exempt_reason:
              type: string
            ground_stop:
              type: object
              properties:
                held:
                  type: boolean
                release_time:
                  type: string
                  format: date-time
            slot:
              type: object
              properties:
                time:
                  type: string
                  format: date-time
                status:
                  type: string
                aslot:
                  type: string
                program_id:
                  type: integer
                slot_id:
                  type: integer
            delay:
              type: object
              properties:
                minutes:
                  type: integer
                status:
                  type: string
                source:
                  type: string
                absolute_min:
                  type: integer
                schedule_variation_min:
                  type: integer
            reroute:
              type: object
              properties:
                status:
                  type: string
                id:
                  type: string
            flags:
              type: object
              properties:
                is_popup:
                  type: boolean
                ecr_pending:
                  type: boolean
        _last_seen:
          type: string
          format: date-time

    TmiControlledResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/TmiControlledFlight'
        statistics:
          type: object
          properties:
            ground_stop:
              type: integer
            gdp:
              type: integer
            afp:
              type: integer
            reroute:
              type: integer
            other:
              type: integer
            by_airport:
              type: object
              additionalProperties:
                type: integer
            by_artcc:
              type: object
              additionalProperties:
                type: integer
        pagination:
          $ref: '#/components/schemas/Pagination'
        filters:
          type: object
          properties:
            type:
              type: string
            airport:
              type: string
            artcc:
              type: string
            include_exempt:
              type: boolean
        timestamp:
          type: string
          format: date-time
        schema:
          type: string

    AdlIngestRequest:
      type: object
      required:
        - flights
      properties:
        flights:
          type: array
          maxItems: 500
          items:
            type: object
            required:
              - callsign
              - dept_icao
              - dest_icao
            properties:
              callsign:
                type: string
                example: UAL123
              dept_icao:
                type: string
                example: KJFK
              dest_icao:
                type: string
                example: KLAX
              cid:
                type: integer
              flight_key:
                type: string
              aircraft_type:
                type: string
              route:
                type: string
              current_phase:
                type: string
              is_active:
                type: boolean
              status:
                type: string
              tmi:
                type: object
                properties:
                  ctl_type:
                    type: string
                  ctl_prgm:
                    type: string
                  slot_time_utc:
                    type: string
                    format: date-time
                  delay_minutes:
                    type: integer
                  gs_held:
                    type: boolean
              adl:
                type: object
                description: Additional ADL fields
              # Position data (AOC/flight sim telemetry)
              latitude:
                type: number
                format: double
                description: Current latitude
              longitude:
                type: number
                format: double
                description: Current longitude
              altitude_ft:
                type: integer
                description: Current altitude (feet MSL)
              heading_deg:
                type: integer
                minimum: 0
                maximum: 360
                description: Current heading (degrees magnetic)
              groundspeed_kts:
                type: integer
                description: Current ground speed (knots)
              vertical_rate_fpm:
                type: integer
                description: Vertical rate (feet per minute, + = climb, - = descend)
              # OOOI times (CDM T11-T14 - from ACARS/VA/simulator)
              # Priority: ACARS > Virtual Airline > simulator > vATCSCC
              out_utc:
                type: string
                format: date-time
                description: T13 - Actual Off-Block Time (AOBT) - Gate departure/pushback
              off_utc:
                type: string
                format: date-time
                description: T11 - Actual Takeoff Time (ATOT) - Wheels up
              on_utc:
                type: string
                format: date-time
                description: T12 - Actual Landing Time (ALDT) - Wheels down
              in_utc:
                type: string
                format: date-time
                description: T14 - Actual In-Block Time (AIBT) - Gate arrival
              # FMC/Generic times
              eta_utc:
                type: string
                format: date-time
                description: Estimated time of arrival (from FMC)
              etd_utc:
                type: string
                format: date-time
                description: Estimated time of departure (from FMC)
              # Schedule times (OAG analog - from VA/SimBrief)
              std_utc:
                type: string
                format: date-time
                description: Scheduled Time of Departure (published schedule)
              sta_utc:
                type: string
                format: date-time
                description: Scheduled Time of Arrival (published schedule)
              # CDM T1-T4 airline predictions (from Virtual Airlines)
              lrtd_utc:
                type: string
                format: date-time
                description: T1 - Airline Runway Time of Departure (VA predicted)
              lrta_utc:
                type: string
                format: date-time
                description: T2 - Airline Runway Time of Arrival (VA predicted)
              lgtd_utc:
                type: string
                format: date-time
                description: T3 - Airline Gate Time of Departure (VA predicted)
              lgta_utc:
                type: string
                format: date-time
                description: T4 - Airline Gate Time of Arrival (VA predicted)
              # CDM T7-T8 earliest acceptable times (VA constraint)
              ertd_utc:
                type: string
                format: date-time
                description: T7 - Earliest Runway Time of Departure (VA constraint)
              erta_utc:
                type: string
                format: date-time
                description: T8 - Earliest Runway Time of Arrival (VA constraint)
              # TMI controlled times (vATCSCC only)
              tobt_utc:
                type: string
                format: date-time
                description: Target Off-Block Time (CDM pushback target - vATCSCC only)
              # Metering times
              eta_runway_utc:
                type: string
                format: date-time
                description: ETA at runway threshold (from metering system)
              sta_meter_fix_utc:
                type: string
                format: date-time
                description: Scheduled time at meter fix (TBFM-style)

    TrackIngestRequest:
      type: object
      required:
        - tracks
      properties:
        tracks:
          type: array
          maxItems: 1000
          description: Array of track position updates
          items:
            type: object
            required:
              - callsign
              - latitude
              - longitude
            properties:
              callsign:
                type: string
                description: Aircraft callsign
                example: UAL123
              latitude:
                type: number
                format: double
                minimum: -90
                maximum: 90
                description: Latitude in decimal degrees
                example: 40.6413
              longitude:
                type: number
                format: double
                minimum: -180
                maximum: 180
                description: Longitude in decimal degrees
                example: -73.7781
              altitude_ft:
                type: integer
                description: Altitude in feet MSL
                example: 35000
              ground_speed_kts:
                type: integer
                description: Ground speed in knots
                example: 450
              heading_deg:
                type: integer
                minimum: 0
                maximum: 360
                description: Heading in degrees magnetic
                example: 270
              vertical_rate_fpm:
                type: integer
                description: Vertical rate (feet per minute, + = climb, - = descend)
                example: -500
              squawk:
                type: string
                pattern: '^\d{4}$'
                description: Transponder squawk code
                example: "1200"
              track_source:
                type: string
                enum: [radar, ads-b, mlat, mode-s, acars]
                description: Source of track data
                example: radar
              timestamp:
                type: string
                format: date-time
                description: Track observation time (ISO 8601)

    TrackIngestResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            processed:
              type: integer
              description: Total tracks processed
            updated:
              type: integer
              description: Flights successfully updated
            not_found:
              type: integer
              description: Tracks for unknown callsigns (skipped)
            errors:
              type: integer
              description: Count of errors
            error_details:
              type: array
              maxItems: 10
              items:
                type: object
                properties:
                  index:
                    type: integer
                  callsign:
                    type: string
                  error:
                    type: string
        timestamp:
          type: string
          format: date-time
        meta:
          type: object
          properties:
            source:
              type: string
            batch_size:
              type: integer

    IngestResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            processed:
              type: integer
            created:
              type: integer
            updated:
              type: integer
            errors:
              type: integer
            error_details:
              type: array
              maxItems: 10
              items:
                type: object
                properties:
                  index:
                    type: integer
                  callsign:
                    type: string
                  error:
                    type: string
        timestamp:
          type: string
          format: date-time
        meta:
          type: object
          properties:
            source:
              type: string
            batch_size:
              type: integer

    MeteringDataResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            airport:
              type: string
              example: KJFK
            type:
              type: string
              enum: [metering_data, sequence_list]
            flights:
              type: array
              items:
                $ref: '#/components/schemas/MeteringFlight'
            count:
              type: integer
            summary:
              type: object
              properties:
                total:
                  type: integer
                metered:
                  type: integer
                frozen:
                  type: integer
                avg_delay_minutes:
                  type: number
        timestamp:
          type: string
          format: date-time

    MeteringSequenceResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            airport:
              type: string
            type:
              type: string
              enum: [sequence_list]
            flights:
              type: array
              items:
                type: object
                properties:
                  callsign:
                    type: string
                  gufi:
                    type: string
                  sequence_number:
                    type: integer
                  scheduled_time_of_arrival:
                    type: string
                    format: date-time
                  eta_runway_utc:
                    type: string
                    format: date-time
                  metering_delay:
                    type: integer
                  metering_frozen:
                    type: boolean
                  metering_status:
                    type: string
                    enum: [UNMETERED, METERED, FROZEN, SUSPENDED, EXEMPT]
                  arr_runway:
                    type: string
                  arrival_stream:
                    type: string
                  aircraft_type:
                    type: string
                  weight_class:
                    type: string
                  fp_dept_icao:
                    type: string
            count:
              type: integer
            summary:
              type: object

    MeteringFlight:
      type: object
      description: Flight with TBFM-style metering data
      properties:
        flight_uid:
          type: integer
        gufi:
          type: string
        callsign:
          type: string
        fp_dept_icao:
          type: string
        fp_dest_icao:
          type: string
        aircraft_type:
          type: string
        weight_class:
          type: string
        phase:
          type: string
        lat:
          type: number
        lon:
          type: number
        altitude_ft:
          type: integer
        groundspeed_kts:
          type: integer
        eta_utc:
          type: string
          format: date-time
        eta_runway_utc:
          type: string
          format: date-time
        sequence_number:
          type: integer
          description: Arrival sequence position (1 = next to land)
        scheduled_time_of_arrival:
          type: string
          format: date-time
          description: STA at runway threshold
        metering_point:
          type: string
[...]
