openapi: 3.0.3
info:
  title: VATSWIM API
  description: |
    VATSWIM (System Wide Information Management) API for VATSIM.

    > **System Status: SWIM ACTIVE** — SWIM API is fully operational (SWIM exempt from hibernation).
    > All endpoints query exclusively from the dedicated SWIM_API database. Three sync daemons
    > keep data fresh (flight sync every 2min, TMI sync every 5min, refdata sync daily).

    VATSWIM provides a centralized data exchange hub enabling real-time flight information
    sharing across the VATSIM ecosystem. It serves as a single source of truth for flight
    data, enabling consistent Traffic Management Initiative (TMI) implementation,
    synchronized arrival/departure times, and seamless data exchange between VATSIM systems.
    
    ## Authentication

    All endpoints require API key authentication. Use either method:

    **Option 1: Bearer Token (preferred)**
    ```
    Authorization: Bearer {api_key}
    ```

    **Option 2: X-API-Key Header (IIS fallback)**
    ```
    X-API-Key: {api_key}
    ```

    ## Obtaining an API Key
    
    Request and manage your API keys via the self-service portal:
    **[https://perti.vatcscc.org/swim-keys.php](https://perti.vatcscc.org/swim-keys.php)**
    
    For elevated access tiers (partner/system), contact dev@vatcscc.org.
    
    ## API Key Tiers
    
    | Tier | Prefix | Rate Limit | Write Access |
    |------|--------|------------|--------------|
    | System | `swim_sys_` | 30,000/min | Full |
    | Partner | `swim_par_` | 3,000/min | Limited |
    | Developer | `swim_dev_` | 300/min | Read-only |
    | Public | `swim_pub_` | 100/min | Read-only |
    
    ## GUFI Format
    
    Globally Unique Flight Identifier format: `VAT-YYYYMMDD-CALLSIGN-DEPT-DEST`
    
    Example: `VAT-20260115-UAL123-KJFK-KLAX`
    
    ## Data Sources

    SWIM aggregates data from multiple authoritative sources (per FAA CDM spec):
    - **VATSIM**: Identity and flight plan data
    - **vATCSCC/PERTI**: ADL, TMI, controlled times (EDCT, CTD, CTA, TOBT)
    - **vNAS/CRC/EuroScope**: Track data, ATC automation
    - **SimTraffic**: TBFM-style metering (eta_runway, sta_meter_fix)
    - **ACARS/Hoppie**: OOOI actuals (T11-T14: out/off/on/in times)
    - **Virtual Airlines**: CDM predictions (T1-T4: LRTD/LRTA/LGTD/LGTA), schedules (STD/STA)
    - **SimBrief**: OFP data, fallback for schedules and ETAs
    - **Simulator**: Pilot flight sim telemetry (FMC data, position)

    ## Source Priority (OOOI Times)

    For OOOI times, higher-priority sources override lower ones:
    1. ACARS (Hoppie, etc.) - authoritative
    2. Virtual Airlines - better detection than raw sim
    3. Simulator - raw telemetry
    4. vATCSCC - ADL parsing fallback

    ## FIXM Field Naming

    VATSWIM supports both legacy and FIXM-aligned field names permanently.
    Default responses use legacy names; use `?format=fixm` for FIXM-aligned output.
    Both column sets are populated in the database (dual-write).

    | Legacy | FIXM-Aligned |
    |--------|--------------|
    | out_utc | actual_off_block_time |
    | off_utc | actual_time_of_departure |
    | on_utc | actual_landing_time |
    | in_utc | actual_in_block_time |
    | eta_utc | estimated_time_of_arrival |
    | etd_utc | estimated_off_block_time |

    API responses with `format=fixm` return FIXM camelCase field names.
    See VATSWIM_FIXM_Field_Mapping.md for complete mapping.

    ## Consumer Use Cases

    This API supports various consumer types with specific patterns:

    ### Virtual Airlines
    - **Fleet Tracking**: `GET /flights?callsign=DAL*` - Monitor all flights for airline prefix
    - **OOOI Logging**: `POST /ingest/adl` with out/off/on/in times from ACARS
    - **Telemetry Push**: `POST /ingest/track` for high-frequency position updates
    - **OTP Reports**: `GET /flights?status=completed` for on-time performance analysis

    ### Facility / vNAS
    - **Sector Traffic**: `GET /flights?artcc=ZNY` - Traffic counts per ARTCC
    - **Demand Monitoring**: `GET /flights?dest_icao=KJFK` - Arrival demand by airport
    - **Route Compliance**: `GET /positions?include_route=true` - Verify route adherence
    - **CRC Track Feed**: `POST /ingest/track` - Batch position updates from radar sim

    ### TMI Coordination
    - **Active Programs**: `GET /tmi/programs` - Ground Stops and GDPs
    - **Controlled Flights**: `GET /tmi/controlled?airport=KJFK` - Flights with EDCT/slots
    - **Slot Assignment**: `POST /ingest/adl` with tmi.slot_time_utc

    ### Data Integration
    - **Webhook Events**: Subscribe to real-time events (WebSocket coming in Phase 2)
    - **Batch Export**: Paginate through all flights for external analysis
    - **GeoJSON Mapping**: `GET /positions` for map visualization

    ## Python SDK Examples

    See `sdk/python/examples/` for complete working examples:
    - `airline_fleet_tracker.py` - Virtual airline fleet monitoring
    - `sector_traffic_monitor.py` - ARTCC traffic counts and alerts
    - `airport_demand_dashboard.py` - 15-minute demand buckets
    - `data_export_pipeline.py` - JSON/CSV/GeoJSON export
    - `webhook_receiver.py` - FastAPI webhook server
    - `discord_bot.py` - Discord integration
    - `data_provider_example.py` - CRC/provider data ingest
    - `route_compliance_monitor.py` - Reroute compliance tracking

  version: 1.1.0
  contact:
    name: vATCSCC Development Team
    email: dev@vatcscc.org
    url: https://vatcscc.org
  license:
    name: Proprietary
    url: https://vatcscc.org/terms

servers:
  - url: https://perti.vatcscc.org/api/swim/v1
    description: Production server

tags:
  - name: Info
    description: API information and status
  - name: Flights
    description: |
      Flight data retrieval.
      
      **Use Cases:**
      - Virtual Airlines: `?callsign=DAL*` for fleet tracking
      - Facility/vNAS: `?artcc=ZNY` for sector traffic monitoring
      - TMI: `?tmi_controlled=true` for controlled flights
      - Demand: `?dest_icao=KJFK` for arrival demand analysis
  - name: Positions
    description: |
      Flight positions in GeoJSON FeatureCollection format.
      
      **Use Cases:**
      - Map visualization for traffic displays
      - Route compliance: `?include_route=true`
      - Sector monitoring: `?artcc=ZNY`
      - Geographic filtering: `?bounds=minLon,minLat,maxLon,maxLat`
  - name: TMI
    description: |
      Traffic Management Initiative data.

      **Use Cases:**
      - TMI Monitor: Track active Ground Stops and GDPs
      - Slot Lists: Get flights with EDCT assignments
      - Controlled Flight Counts: Statistics by airport/ARTCC
  - name: Metering
    description: |
      TBFM-style metering data for arrival sequence management.

      **Use Cases:**
      - vNAS/CRC: Arrival sequence display in datablocks (SEQ, STA, DLA_ASGN)
      - SimTraffic: TBFM metering time and delay data
      - STARS/ERAM: Metering status and frozen indicators

      **FIXM Alignment:**
      - sequence_number → sequenceNumber (SEQ)
      - scheduled_time_of_arrival → scheduledTimeOfArrival (STA)
      - metering_time → meteringTime (MF_TIME)
      - metering_delay → delayValue (DLA_ASGN)
  - name: Ingest
    description: |
      Data ingestion endpoints (write access required).

      **Use Cases:**
      - Virtual Airlines: Push OOOI times and telemetry
      - CRC/vNAS: Batch track position updates
      - TMI Systems: Slot assignments and control status

      **Note:** Requires partner or system tier API key
  - name: JATOC
    description: |
      Joint Air Traffic Operations Center data.

      **Use Cases:**
      - Incident tracking and reporting
      - Facility status monitoring
      - Operational coordination
  - name: Reference
    description: |
      Reference data and statistical baselines.

      **Use Cases:**
      - Unimpeded taxi-out times per airport (FAA ASPM methodology)
      - Dimensional breakdowns by weight class, carrier, engine configuration
      - Ground Stop delay estimation (actual vs. unimpeded taxi comparison)
  - name: Routes
    description: |
      Reference route data: Coded Departure Routes (CDRs) and Playbook routes.

      **Use Cases:**
      - Route Planning: Find CDRs by origin/destination pair
      - Playbook Lookup: Browse plays by ARTCC, category, or source
      - ARTCC Filtering: Find routes by departure or arrival ARTCC
  - name: Configuration
    description: |
      Airport and facility configuration data.

      **Use Cases:**
      - Runway configuration presets
      - Airport operating conditions
      - FEA (Flow Evaluation Area) parameters
  - name: Infrastructure
    description: Health checks, connector status, and API infrastructure monitoring.
  - name: Controllers
    description: |
      ATC controller data enriched with vNAS ERAM/STARS sector assignments.

      **Use Cases:**
      - Staffing displays per facility/ARTCC
      - Sector assignment tracking for handoff routing
      - Observer monitoring
  - name: CDM
    description: |
      Collaborative Decision Making (A-CDM) endpoints.

      **Use Cases:**
      - Airport operational status dashboards
      - Pilot readiness signals (TOBT, TSAT, TTOT)
      - EDCT compliance monitoring
      - CDM milestone tracking
  - name: CTP
    description: |
      Cross the Pond event management.

      **Use Cases:**
      - CTP session and throughput configuration
      - Slot assignment results
      - NAT track capacity management
  - name: Keys
    description: |
      API key provisioning and management.

      **Use Cases:**
      - Auto-provision developer keys via VATSIM OAuth
      - Key revocation
  - name: Playbook
    description: |
      Playbook route data, analysis, and throughput.

      **Use Cases:**
      - Route analysis with PostGIS spatial queries
      - Play browsing and filtering
      - CTP throughput data
  - name: Flow
    description: |
      External flow management provider data (ECFMP, NavCanada, VATPAC).

      **Use Cases:**
      - Cross-provider measure aggregation
      - International flow event tracking
      - Provider health monitoring

security:
  - bearerAuth: []
  - apiKeyHeader: []

paths:
  /:
    get:
      tags:
        - Info
      summary: API Information
      description: Returns API version, available endpoints, and authentication information.
      operationId: getApiInfo
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInfoResponse'
              example:
                success: true
                data:
                  name: VATSWIM API
                  version: "1.0.0"
                  description: System Wide Information Management for VATSIM
                  documentation: https://perti.vatcscc.org/docs/swim/
                  endpoints:
                    flights:
                      GET /api/swim/v1/flights: List flights with filters
                      GET /api/swim/v1/flight: Get single flight by GUFI or flight_key
                    positions:
                      GET /api/swim/v1/positions: Bulk flight positions (GeoJSON)
                    tmi:
                      GET /api/swim/v1/tmi/programs: Active TMI programs (GS/GDP)
                      GET /api/swim/v1/tmi/controlled: Flights under TMI control
                    metering:
                      GET /api/swim/v1/metering/{airport}: Metering data for airport arrivals (FIXM/TBFM)
                      GET /api/swim/v1/metering/{airport}/sequence: Arrival sequence list for datablocks
                    ingest:
                      POST /api/swim/v1/ingest/adl: Ingest ADL flight data
                      POST /api/swim/v1/ingest/track: Ingest track position data
                      POST /api/swim/v1/ingest/metering: Ingest TBFM metering data (SimTraffic)
                  authentication:
                    type: Bearer token
                    header: "Authorization: Bearer {api_key}"
                    tiers:
                      system: "30,000 req/min, full write"
                      partner: "3,000 req/min, limited write"
                      developer: "300 req/min, read-only"
                      public: "100 req/min, read-only"
                  contact:
                    email: dev@vatcscc.org
                    discord: vATCSCC Server
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  server_time: "2026-01-16T12:00:00Z"
                  api_prefix: /api/swim/v1

  /flights:
    get:
      tags:
        - Flights
      summary: List Flights
      description: |
        Returns a paginated list of flights with optional filters.
        
        Data is sourced from the SWIM_API database which syncs from VATSIM_ADL 
        every 2 minutes. For real-time data, consider the WebSocket stream (Phase 2).
      operationId: listFlights
      parameters:
        - name: status
          in: query
          description: Filter by flight status
          schema:
            type: string
            enum: [active, completed, all]
            default: active
        - name: dept_icao
          in: query
          description: Filter by departure airport(s). Comma-separated ICAO codes.
          schema:
            type: string
          example: KJFK,KEWR,KLGA
        - name: dest_icao
          in: query
          description: Filter by destination airport(s). Comma-separated ICAO codes.
          schema:
            type: string
          example: KLAX,KSFO
        - name: artcc
          in: query
          description: Filter by destination ARTCC(s). Comma-separated facility IDs.
          schema:
            type: string
          example: ZNY,ZDC
        - name: callsign
          in: query
          description: Filter by callsign pattern. Use `*` as wildcard.
          schema:
            type: string
          example: UAL*
        - name: tmi_controlled
          in: query
          description: Filter to only flights under TMI control (GS held or controlled)
          schema:
            type: string
            enum: ['true', 'false', '1', '0']
        - name: phase
          in: query
          description: Filter by flight phase(s). Comma-separated values.
          schema:
            type: string
          example: ENROUTE,DESCENT
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Paginated list of flights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightsListResponse'
            application/xml:
              schema:
                type: string
                description: XML formatted flight data
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoJsonFeatureCollection'
            text/csv:
              schema:
                type: string
                description: CSV formatted flight data with header row
            application/vnd.google-earth.kml+xml:
              schema:
                type: string
                description: KML formatted flight data for Google Earth
            application/x-ndjson:
              schema:
                type: string
                description: Newline-delimited JSON (one flight per line)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'

  /flight:
    get:
      tags:
        - Flights
      summary: Get Single Flight
      description: |
        Returns detailed information for a single flight identified by GUFI, 
        flight_uid, or flight_key.
        
        This endpoint queries VATSIM_ADL directly for full detail (minimal cost 
        impact for single-record lookups).
      operationId: getFlight
      parameters:
        - name: gufi
          in: query
          description: Globally Unique Flight Identifier (VAT-YYYYMMDD-CALLSIGN-DEPT-DEST)
          schema:
            type: string
          example: VAT-20260115-UAL123-KJFK-KLAX
        - name: flight_uid
          in: query
          description: Internal flight unique identifier
          schema:
            type: integer
            format: int64
        - name: flight_key
          in: query
          description: Flight key string
          schema:
            type: string
        - name: include_history
          in: query
          description: Include inactive/historical flights in search
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: Flight details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightDetailResponse'
        '400':
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: "Missing required parameter: gufi, flight_uid, or flight_key"
                status: 400
                code: MISSING_PARAM
        '404':
          description: Flight not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: "Flight not found"
                status: 404
                code: NOT_FOUND
        '401':
          $ref: '#/components/responses/Unauthorized'

  /positions:
    get:
      tags:
        - Positions
      summary: Get Flight Positions (GeoJSON)
      description: |
        Returns current positions of all active flights in GeoJSON FeatureCollection format.
        
        Ideal for map visualization. Each feature includes callsign, aircraft type,
        altitude, heading, groundspeed, and TMI status.
      operationId: getPositions
      parameters:
        - name: dept_icao
          in: query
          description: Filter by departure airport(s)
          schema:
            type: string
        - name: dest_icao
          in: query
          description: Filter by destination airport(s)
          schema:
            type: string
        - name: artcc
          in: query
          description: Filter by destination ARTCC(s)
          schema:
            type: string
        - name: bounds
          in: query
          description: Geographic bounding box (minLon,minLat,maxLon,maxLat)
          schema:
            type: string
          example: "-125.0,24.0,-66.0,50.0"
        - name: tmi_controlled
          in: query
          description: Filter to only TMI-controlled flights
          schema:
            type: string
            enum: ['true', 'false', '1', '0']
        - name: phase
          in: query
          description: Filter by flight phase(s)
          schema:
            type: string
        - name: include_route
          in: query
          description: Include route string in properties
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Flight positions in requested format
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/PositionsGeoJSON'
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsGeoJSON'
            application/xml:
              schema:
                type: string
                description: XML formatted position data
            text/csv:
              schema:
                type: string
                description: CSV formatted position data
            application/vnd.google-earth.kml+xml:
              schema:
                type: string
                description: KML formatted position data for Google Earth
            application/x-ndjson:
              schema:
                type: string
                description: Newline-delimited JSON (one position per line)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /tmi/programs:
    get:
      tags:
        - TMI
      summary: Get Active TMI Programs
      description: |
        Returns active Traffic Management Initiative programs including Ground Stops 
        and Ground Delay Programs.
        
        - Ground Stops are sourced from MySQL (tmi_ground_stops table)
        - GDP Programs are sourced from Azure SQL (gdp_log table)
      operationId: getTmiPrograms
      parameters:
        - name: type
          in: query
          description: Filter by program type
          schema:
            type: string
            enum: [all, gs, gdp]
            default: all
        - name: airport
          in: query
          description: Filter by affected airport(s)
          schema:
            type: string
          example: KJFK,KEWR
        - name: artcc
          in: query
          description: Filter by ARTCC
          schema:
            type: string
          example: ZNY
        - name: include_history
          in: query
          description: Include recently ended programs (last 2 hours)
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: TMI programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiProgramsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/controlled:
    get:
      tags:
        - TMI
      summary: Get TMI-Controlled Flights
      description: |
        Returns flights currently under Traffic Management Initiative control,
        including flights held by Ground Stops, assigned GDP slots, AFP delays,
        or reroutes.
      operationId: getTmiControlledFlights
      parameters:
        - name: type
          in: query
          description: Filter by TMI type
          schema:
            type: string
            enum: [all, gs, gdp, afp, reroute]
            default: all
        - name: airport
          in: query
          description: Filter by destination airport(s)
          schema:
            type: string
        - name: artcc
          in: query
          description: Filter by destination ARTCC(s)
          schema:
            type: string
        - name: dept_icao
          in: query
          description: Filter by departure airport(s)
          schema:
            type: string
        - name: phase
          in: query
          description: Filter by flight phase(s)
          schema:
            type: string
        - name: include_exempt
          in: query
          description: Include exempt flights
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: TMI-controlled flights with statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiControlledResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /metering/{airport}:
    get:
      tags:
        - Metering
      summary: Get Metering Data for Airport
      description: |
        Returns TBFM-style metering data for all arrivals to an airport.
        Includes sequence numbers, scheduled times, delays, and metering status.

        **Use Cases:**
        - vNAS/CRC: Display metering data in arrival datablocks
        - TMI Coordination: Monitor arrival sequence and delays
        - SimTraffic: Retrieve current metering state

        **FIXM Field Mapping:**
        - sequence_number → SEQ (arrival sequence position)
        - scheduled_time_of_arrival → STA (scheduled runway time)
        - metering_time → MF_TIME (meter fix crossing time)
        - metering_delay → DLA_ASGN (assigned delay in minutes)
        - metering_status → UNMETERED|METERED|FROZEN|SUSPENDED|EXEMPT
      operationId: getMeteringData
      parameters:
        - name: airport
          in: path
          required: true
          description: Destination airport ICAO code (e.g., KJFK)
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KJFK
        - name: status
          in: query
          description: Filter by metering status
          schema:
            type: string
            enum: [UNMETERED, METERED, FROZEN, SUSPENDED, EXEMPT]
        - name: runway
          in: query
          description: Filter by arrival runway
          schema:
            type: string
          example: 31L
        - name: stream
          in: query
          description: Filter by arrival stream (corner post)
          schema:
            type: string
          example: NORTH
        - name: metered_only
          in: query
          description: Only return flights with metering data (default true)
          schema:
            type: string
            enum: ['true', 'false']
            default: 'true'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Metering data for airport arrivals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringDataResponse'
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/x-ndjson:
              schema:
                type: string
        '400':
          description: Invalid airport code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /metering/{airport}/sequence:
    get:
      tags:
        - Metering
      summary: Get Arrival Sequence List
      description: |
        Returns a compact arrival sequence list sorted by sequence number.
        Optimized for datablock display with minimal fields.

        **Response includes:**
        - callsign, gufi, sequence_number
        - scheduled_time_of_arrival (STA)
        - metering_delay, metering_frozen, metering_status
        - arrival_runway, arrival_stream
        - aircraft_type, weight_class, departure airport
      operationId: getArrivalSequence
      parameters:
        - name: airport
          in: path
          required: true
          description: Destination airport ICAO code
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KJFK
        - name: status
          in: query
          description: Filter by metering status
          schema:
            type: string
            enum: [UNMETERED, METERED, FROZEN, SUSPENDED, EXEMPT]
        - name: runway
          in: query
          description: Filter by arrival runway
          schema:
            type: string
        - name: stream
          in: query
          description: Filter by arrival stream
          schema:
            type: string
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Arrival sequence list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringSequenceResponse'
        '400':
          description: Invalid airport code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ingest/adl:
    post:
      tags:
        - Ingest
      summary: Ingest ADL Flight Data
      description: |
        Receives ADL (Aggregate Demand List) data from authoritative sources.
        
        **Requires write access** (system or partner tier API key).
        
        Maximum batch size: 500 flights per request.
      operationId: ingestAdl
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdlIngestRequest'
            example:
              flights:
                - callsign: UAL123
                  dept_icao: KJFK
                  dest_icao: KLAX
                  cid: 1234567
                  aircraft_type: B738
                  route: DCT JFK J584 ORD J64 LAX
                  current_phase: ENROUTE
                  is_active: true
                  tmi:
                    ctl_type: GDP
                    slot_time_utc: "2026-01-15T18:30:00Z"
                    delay_minutes: 45
      responses:
        '200':
          description: Ingest results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResponse'
              example:
                success: true
                data:
                  processed: 1
                  created: 1
                  updated: 0
                  errors: 0
                  error_details: []
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  source: vatcscc
                  batch_size: 1
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: 'Source "developer" is not authorized to write ADL data.'
                status: 403
                code: NOT_AUTHORITATIVE

  /ingest/track:
    post:
      tags:
        - Ingest
      summary: Ingest Track Position Data
      description: |
        Receives real-time track/position updates from authoritative sources
        (vNAS, CRC, EuroScope, AOC systems).

        **Requires write access** (system or partner tier API key with track authority).

        Maximum batch size: 1000 tracks per request (higher limit for frequent updates).

        Updates position data for existing flights in swim_flights table.
        Flights not found are logged but not created.
      operationId: ingestTrack
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackIngestRequest'
            example:
              tracks:
                - callsign: UAL123
                  latitude: 40.6413
                  longitude: -73.7781
                  altitude_ft: 35000
                  ground_speed_kts: 450
                  heading_deg: 270
                  vertical_rate_fpm: -500
                  squawk: "1200"
                  track_source: radar
      responses:
        '200':
          description: Track ingest results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackIngestResponse'
              example:
                success: true
                data:
                  processed: 100
                  updated: 95
                  not_found: 5
                  errors: 0
                  error_details: []
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  source: vnas
                  batch_size: 100
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: 'Source "developer" is not authorized to write track data.'
                status: 403
                code: NOT_AUTHORITATIVE

  /ingest/metering:
    post:
      tags:
        - Ingest
      summary: Ingest TBFM Metering Data
      description: |
        Receives TBFM-style metering data from authoritative sources (SimTraffic, vATCSCC).
        Updates FIXM-aligned metering fields in swim_flights table.

        **Requires write access** (system or partner tier API key with metering authority).

        Maximum batch size: 500 metering records per request.

        **FIXM Field Mapping:**
        - sequence_number → sequenceNumber (SEQ)
        - scheduled_time_of_arrival → scheduledTimeOfArrival (STA)
        - metering_point → meteringPoint (MF)
        - metering_time → meteringTime (MF_TIME)
        - metering_delay → delayValue (DLA_ASGN)
        - metering_frozen → frozenIndicator (FROZEN)
        - arrival_stream → arrivalStream (GATE)
        - metering_status → UNMETERED|METERED|FROZEN|SUSPENDED|EXEMPT
      operationId: ingestMetering
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeteringIngestRequest'
            example:
              airport: KJFK
              metering_point: CAMRN
              metering:
                - callsign: UAL123
                  sequence_number: 5
                  scheduled_time_of_arrival: "2026-01-16T18:30:00Z"
                  metering_time: "2026-01-16T18:15:00Z"
                  metering_delay: 5
                  metering_frozen: true
                  arrival_stream: NORTH
                  arrival_runway: 31L
                  metering_status: METERED
      responses:
        '200':
          description: Metering ingest results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringIngestResponse'
              example:
                success: true
                data:
                  processed: 10
                  updated: 8
                  not_found: 2
                  errors: 0
                  error_details: []
                timestamp: "2026-01-16T12:00:00Z"
                meta:
                  source: simtraffic
                  airport: KJFK
                  metering_point: CAMRN
                  batch_size: 10
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: true
                message: 'Source "developer" is not authorized to write metering data.'
                status: 403
                code: NOT_AUTHORITATIVE

  /tmi/reroutes:
    get:
      tags:
        - TMI
      summary: Get TMI Reroute Definitions
      description: |
        Returns reroute definitions for Traffic Management Initiatives.
        Reroutes direct traffic around affected areas (weather, congestion, etc.).

        **Status Values:**
        - 0 = Draft
        - 1 = Proposed
        - 2 = Active
        - 3 = Monitoring
        - 4 = Expired
        - 5 = Cancelled
      operationId: getReroutes
      parameters:
        - name: status
          in: query
          description: Filter by status (comma-separated for multiple)
          schema:
            type: string
          example: "1,2,3"
        - name: active
          in: query
          description: If "1", returns only active reroutes (status 1,2,3)
          schema:
            type: string
            enum: ['0', '1']
        - name: limit
          in: query
          description: Maximum results to return
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Reroute definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReroutesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs:
    get:
      tags:
        - TMI
      summary: List Ground Stop Programs
      description: |
        Returns Ground Stop programs with optional filters.
        Ground Stops halt all departures to an affected airport.

        **FIXM/TFMS Alignment:**
        - program_type = GS (Ground Stop)
        - ctl_element = controlElement (affected airport)
        - status follows NTML lifecycle: PROPOSED → ACTIVE → COMPLETED/PURGED

        **Status Values:**
        - PROPOSED: Created but not yet active
        - ACTIVE: Currently in effect
        - COMPLETED: Ended normally
        - PURGED: Cancelled before end time
      operationId: listGroundStops
      parameters:
        - name: airport
          in: query
          description: Filter by affected airport (ctl_element)
          schema:
            type: string
          example: KJFK
        - name: status
          in: query
          description: Filter by program status
          schema:
            type: string
            enum: [PROPOSED, ACTIVE, COMPLETED, PURGED]
        - name: active_only
          in: query
          description: Only return currently active GS programs
          schema:
            type: boolean
            default: false
        - name: include_history
          in: query
          description: Include recently completed/purged programs (last 2 hours)
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Maximum results
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Ground Stop programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStopListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - TMI
      summary: Create Ground Stop Program
      description: |
        Creates a new Ground Stop program in PROPOSED state.
        Requires system or partner tier API key with TMI authority.

        **Scope Types:**
        - TIER: Tier-based scope (1=local, 2=regional, 3=national)
        - DISTANCE: Distance-based in nautical miles
        - MANUAL: Custom airport/center list

        **FIXM Field Mapping:**
        - ctl_element → controlElement
        - start_utc/end_utc → validTimeBegin/validTimeEnd
        - impacting_condition → reason
        - scope_type → scopeType
      operationId: createGroundStop
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroundStopCreateRequest'
            example:
              ctl_element: KJFK
              start_utc: "2026-01-16T15:00:00Z"
              end_utc: "2026-01-16T17:00:00Z"
              scope_type: TIER
              scope_tier: 1
              exempt_airborne: true
              exempt_within_min: 45
              impacting_condition: WEATHER
              cause_text: "Low visibility - IFR conditions"
              prob_extension: MEDIUM
      responses:
        '200':
          description: Ground Stop created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStopCreateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tmi/gs/{program_id}:
    get:
      tags:
        - TMI
      summary: Get Ground Stop Program Details
      description: Returns detailed information for a specific Ground Stop program.
      operationId: getGroundStop
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID
          schema:
            type: integer
          example: 123
      responses:
        '200':
          description: Ground Stop program details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStopDetailResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs/{program_id}/flights:
    get:
      tags:
        - TMI
      summary: Get Flights Affected by Ground Stop
      description: |
        Returns flights affected by a Ground Stop program.
        Includes controlled flights (held) and exempt flights.

        **FIXM Field Mapping:**
        - gs_held → groundStopHeld
        - ctl_exempt → exemptIndicator
        - ctl_exempt_reason → exemptReason
      operationId: getGroundStopFlights
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID
          schema:
            type: integer
        - name: include_exempt
          in: query
          description: Include exempt flights in response
          schema:
            type: boolean
            default: true
        - name: include_airborne
          in: query
          description: Include airborne flights in response
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Flights affected by Ground Stop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiFlightsResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs/{program_id}/model:
    post:
      tags:
        - TMI
      summary: Model Ground Stop Impact
      description: |
        Models the impact of a Ground Stop on traffic.
        Returns affected flights and metrics without activating the program.
        Use this before activation to preview impact.
      operationId: modelGroundStop
      security:
        - bearerAuth: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID to model
          schema:
            type: integer
      responses:
        '200':
          description: Ground Stop model results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiModelResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gs/{program_id}/activate:
    post:
      tags:
        - TMI
      summary: Activate Ground Stop Program
      description: |
        Activates a PROPOSED Ground Stop program.
        Changes status from PROPOSED to ACTIVE and begins controlling flights.
      operationId: activateGroundStop
      security:
        - bearerAuth: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID to activate
          schema:
            type: integer
      responses:
        '200':
          description: Ground Stop activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmiActivateResponse'
        '400':
          description: Program cannot be activated (wrong status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tmi/gdp:
    get:
      tags:
        - TMI
      summary: List Ground Delay Programs
      description: |
        Returns Ground Delay Program (GDP) programs with optional filters.
        GDPs assign arrival slots to flights to manage demand at capacity-constrained airports.

        **FIXM/TFMS Alignment:**
        - program_type = GDP (Ground Delay Program)
        - program_rate → programRate (arrivals per hour)
        - delay_limit → delayLimit (maximum assignable delay)
        - Slot assignment follows EBSA (ETA-Based Slot Allocation)

        **GDP Variants:**
        - GDP-DAS: Delay Assignment
        - GDP-GAAP: Ground Delay Program at Alternate Airports
        - GDP-UDP: Unified Delay Program
      operationId: listGroundDelayPrograms
      parameters:
        - name: airport
          in: query
          description: Filter by affected airport (ctl_element)
          schema:
            type: string
          example: KATL
        - name: status
          in: query
          description: Filter by program status
          schema:
            type: string
            enum: [DRAFT, SIMULATED, ACTIVE, EXPIRED, PURGED]
        - name: active_only
          in: query
          description: Only return currently active GDP programs
          schema:
            type: boolean
            default: false
        - name: include_history
          in: query
          description: Include recently completed programs (last 2 hours)
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Maximum results
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: GDP programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - TMI
      summary: Create/Simulate Ground Delay Program
      description: |
        Creates and simulates a Ground Delay Program.
        Runs EBSA (ETA-Based Slot Allocation) algorithm to assign arrival slots.

        **Rate Configuration:**
        - program_rate: Default arrivals/hour (simple mode)
        - program_rates_hourly: JSON object with hourly rates (detailed mode)
        - reserve_rate: Reserved slots/hour for pop-up flights

        **Scope Configuration:**
        - origin_airports: Specific departure airports
        - origin_centers: Departure ARTCCs (e.g., ZNY, ZBW)
        - distance_nm: Distance-based scope from destination

        **FIXM Field Mapping:**
        - program_rate → programRate
        - delay_limit → delayLimit
        - reserve_rate → reserveRate
        - slot_time_utc → slotTime (CTA)
        - program_delay_min → delayValue
      operationId: createGroundDelayProgram
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GdpCreateRequest'
            example:
              gdp_airport: KATL
              gdp_start: "2026-01-16T14:00:00Z"
              gdp_end: "2026-01-16T20:00:00Z"
              program_rate: 60
              reserve_rate: 5
              delay_limit: 180
              gdp_origin_centers: "ZTL ZJX ZDC"
              impacting_condition: WEATHER
              adv_number: "ADVZY 001"
      responses:
        '200':
          description: GDP simulation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpSimulateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tmi/gdp/{program_id}/flights:
    get:
      tags:
        - TMI
      summary: Get Flights in GDP
      description: |
        Returns flights controlled by a Ground Delay Program.
        Includes slot assignments, delays, and exemption status.

        **FIXM Field Mapping:**
        - gdp_slot_time_utc → slotTime (CTA)
        - program_delay_min → delayValue
        - ctl_type → controlType (GDP, GDP-CAP, GDP-STK)
      operationId: getGdpFlights
      parameters:
        - name: program_id
          in: path
          required: true
          description: GDP program ID
          schema:
            type: string
          example: GDP-KATL-202601161400
      responses:
        '200':
          description: GDP flight list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpFlightsResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/gdp/{program_id}/slots:
    get:
      tags:
        - TMI
      summary: Get GDP Arrival Slots
      description: |
        Returns arrival slot allocation for a Ground Delay Program.
        Slots are allocated in 15-minute bins based on program rate.

        **Slot Types:**
        - REGULAR: Standard arrival slots
        - RESERVED: Reserved for pop-up flights

        **Slot Status:**
        - OPEN: Available for assignment
        - ASSIGNED: Flight assigned to slot
        - BRIDGED: Slot bridged via SCS/ECR
        - CANCELLED: Slot cancelled
      operationId: getGdpSlots
      parameters:
        - name: program_id
          in: path
          required: true
          description: GDP program ID
          schema:
            type: string
          example: GDP-KATL-202601161400
        - name: status
          in: query
          description: Filter by slot status
          schema:
            type: string
            enum: [OPEN, ASSIGNED, BRIDGED, CANCELLED]
        - name: hour
          in: query
          description: Filter by hour (0-23)
          schema:
            type: integer
            minimum: 0
            maximum: 23
      responses:
        '200':
          description: GDP slot allocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdpSlotsResponse'
        '404':
          description: Program not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/mit:
    get:
      tags:
        - TMI
      summary: List Miles-In-Trail Restrictions
      description: |
        Returns active Miles-In-Trail (MIT) restrictions.
        MIT requires specified spacing (in nautical miles) between aircraft.

        **FIXM/TFMS Alignment:**
        - restriction_type = MIT
        - value_nm → spacingValue (spacing in NM)
        - fix → constraintFix
        - direction → flowDirection (EAST, WEST, ALL)

        **Common MIT Values:**
        - 10 MIT: Light traffic management
        - 15 MIT: Moderate spacing
        - 20+ MIT: Significant restrictions
      operationId: listMilesInTrail
      parameters:
        - name: facility
          in: query
          description: Filter by issuing facility
          schema:
            type: string
          example: ZNY
        - name: fix
          in: query
          description: Filter by affected fix/waypoint
          schema:
            type: string
          example: CAMRN
        - name: active_only
          in: query
          description: Only return active restrictions
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: MIT restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MitListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/minit:
    get:
      tags:
        - TMI
      summary: List Minutes-In-Trail Restrictions
      description: |
        Returns active Minutes-In-Trail (MINIT) restrictions.
        MINIT requires specified time spacing (in minutes) between aircraft.

        **FIXM/TFMS Alignment:**
        - restriction_type = MINIT
        - value_min → spacingValue (spacing in minutes)
        - fix → constraintFix

        **Use Cases:**
        - Departure spacing from airports
        - Arrival metering at fixes
        - Sector capacity management
      operationId: listMinutesInTrail
      parameters:
        - name: facility
          in: query
          description: Filter by issuing facility
          schema:
            type: string
          example: ZBW
        - name: fix
          in: query
          description: Filter by affected fix/waypoint
          schema:
            type: string
        - name: active_only
          in: query
          description: Only return active restrictions
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: MINIT restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinitListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tmi/afp:
    get:
      tags:
        - TMI
      summary: List Airspace Flow Programs
      description: |
        Returns Airspace Flow Program (AFP) data.
        AFPs manage traffic through constrained airspace using time-based slots.

        **FIXM/TFMS Alignment:**
        - program_type = AFP
        - fca → flowConstraintArea
        - rate → programRate

        **AFP vs GDP:**
        - GDP: Manages arrivals to a single airport
        - AFP: Manages traffic through airspace (FCA - Flow Constraint Area)
      operationId: listAirspaceFlowPrograms
      parameters:
        - name: fca
          in: query
          description: Filter by Flow Constraint Area
          schema:
            type: string
          example: FCA_EAST
        - name: status
          in: query
          description: Filter by program status
          schema:
            type: string
            enum: [PROPOSED, ACTIVE, COMPLETED, PURGED]
        - name: active_only
          in: query
          description: Only return active programs
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: AFP programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfpListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /fea:
    get:
      tags:
        - Configuration
      summary: List Flow Evaluation Areas
      description: |
        Returns Flow Evaluation Area (FEA) definitions.
        FEAs are geographic areas used for traffic flow analysis and TMI planning.

        **FIXM/TFMS Alignment:**
        - fea_id → flowEvaluationAreaId
        - boundary → boundaryGeometry (GeoJSON)
        - airports → affectedAerodromes

        **Use Cases:**
        - Weather impact analysis
        - Demand/capacity modeling
        - Reroute definition
      operationId: listFlowEvaluationAreas
      parameters:
        - name: artcc
          in: query
          description: Filter by ARTCC
          schema:
            type: string
          example: ZNY
        - name: active_only
          in: query
          description: Only return active FEAs
          schema:
            type: boolean
            default: true
        - name: include_geometry
          in: query
          description: Include boundary GeoJSON
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: FEA definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /jatoc/incidents:
    get:
      tags:
        - JATOC
      summary: Get JATOC Incidents
      description: |
        Returns JATOC (Joint Air Traffic Operations Center) incident records.
        Incidents track operational issues affecting ATC facilities.
      operationId: getJatocIncidents
      parameters:
        - name: lifecycle_status
          in: query
          description: Filter by lifecycle status
          schema:
            type: string
            enum: [OPEN, IN_PROGRESS, RESOLVED, CLOSED]
        - name: facility
          in: query
          description: Filter by facility (partial match)
          schema:
            type: string
          example: KJFK
        - name: facilities
          in: query
          description: Filter by multiple facilities (comma-separated, exact match)
          schema:
            type: string
          example: "KJFK,KEWR,KLGA"
        - name: facility_type
          in: query
          description: Filter by facility type
          schema:
            type: string
            enum: [ARTCC, TRACON, ATCT, FSS]
        - name: incident_type
          in: query
          description: Filter by incident type
          schema:
            type: string
        - name: limit
          in: query
          description: Results per page
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: JATOC incidents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JatocIncidentsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /splits/presets:
    get:
      tags:
        - Configuration
      summary: Get Runway Split Presets
      description: |
        Returns saved runway configuration presets.
        Presets define runway configurations for airports (arrivals, departures, rates).
      operationId: getSplitPresets
      parameters:
        - name: artcc
          in: query
          description: Filter by ARTCC
          schema:
            type: string
          example: ZNY
        - name: airport
          in: query
          description: Filter by airport
          schema:
            type: string
          example: KJFK
        - name: id
          in: query
          description: Get single preset by ID
          schema:
            type: integer
      responses:
        '200':
          description: Split presets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitPresetsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /routes/cdrs:
    get:
      tags:
        - Routes
      summary: List Coded Departure Routes
      description: |
        Returns Coded Departure Routes (CDRs) from the VATSIM_REF reference database.
        Supports filtering by origin/destination airport, CDR code, ARTCC, and free-text search.
        Data is refreshed daily from the authoritative `cdrs.csv` source.

        **Use Cases:**
        - Route planning tools: find CDRs between airport pairs
        - ARTCC-scoped route catalogs: `?artcc=ZNY`
        - Route string search: `?search=GREKI` to find routes through a fix
      operationId: listCDRs
      parameters:
        - name: origin
          in: query
          description: Filter by origin ICAO code (case-insensitive)
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KJFK
        - name: dest
          in: query
          description: Filter by destination ICAO code (case-insensitive)
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KORD
        - name: code
          in: query
          description: Filter by CDR code (prefix match)
          schema:
            type: string
          example: JFKORD
        - name: search
          in: query
          description: Free-text search across CDR code and route string
          schema:
            type: string
          example: GREKI
        - name: artcc
          in: query
          description: Filter by departure OR arrival ARTCC. Aliases "fir" and "acc" are also accepted.
          schema:
            type: string
            minLength: 2
            maxLength: 4
          example: ZNY
        - name: dep_artcc
          in: query
          description: Filter by departure ARTCC only. Aliases "dep_fir" and "dep_acc" are also accepted.
          schema:
            type: string
        - name: arr_artcc
          in: query
          description: Filter by arrival ARTCC only. Aliases "arr_fir" and "arr_acc" are also accepted.
          schema:
            type: string
        - name: include
          in: query
          description: |
            Comma-separated list of additional data to include. Supported values:
            - `geometry`: Adds GeoJSON route geometry, waypoints, distance_nm, and artccs_traversed via PostGIS.
              Slower than standard queries. Keep per_page low (10-20) for geometry requests.
          schema:
            type: string
          example: geometry
        - name: page
          in: query
          description: Page number (default 1)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Results per page (default 50, max 200)
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: Paginated list of CDRs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CDR'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  metadata:
                    type: object
                    properties:
                      generated:
                        type: string
                        format: date-time
                      source:
                        type: string
        '405':
          description: Method not allowed (only GET supported)
        '503':
          description: Reference database unavailable

  /playbook/plays:
    get:
      tags:
        - Routes
      summary: List Playbook Plays
      description: |
        Returns playbook plays and their routes. Supports filtering by category,
        source, ARTCC, and search. Use `?id=123` to fetch a single play with its full routes.
        Data is refreshed daily for FAA-source plays.
      operationId: listPlaybookPlays
      parameters:
        - name: id
          in: query
          description: Fetch a single play by ID (includes full routes)
          schema:
            type: integer
        - name: category
          in: query
          description: Filter by play category
          schema:
            type: string
        - name: source
          in: query
          description: Filter by data source (FAA, DCC, ECFMP, CANOC)
          schema:
            type: string
            enum: [FAA, DCC, ECFMP, CANOC]
        - name: search
          in: query
          description: Search play name or description
          schema:
            type: string
        - name: artcc
          in: query
          description: Filter by ARTCC in facilities_involved. Aliases "fir" and "acc" are also accepted.
          schema:
            type: string
        - name: status
          in: query
          description: Filter by play status
          schema:
            type: string
            enum: [active, draft, archived]
            default: active
        - name: include
          in: query
          description: |
            Comma-separated list of additional data to include. Supported values:
            - `geometry`: Adds GeoJSON route geometry, waypoints, distance_nm, and artccs_traversed to each route (single-play mode only).
          schema:
            type: string
          example: geometry
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Results per page (max 200)
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: Paginated list of plays (or single play with routes if id provided)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlaybookPlay'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: Play not found (when id specified)
        '503':
          description: Database unavailable

  /reference/taxi-times:
    get:
      tags:
        - Reference
      summary: Airport Taxi-Out Reference Times
      description: |
        Returns unimpeded taxi-out reference times for all airports, computed using
        FAA ASPM methodology (average of p5-p15 percentile observations over a 90-day
        rolling window, minimum 50 samples).

        Data refreshes daily at 02:00Z via stored procedure.
      operationId: getTaxiTimes
      parameters:
        - name: confidence
          in: query
          description: Filter by confidence level
          schema:
            type: string
            enum: [HIGH, MEDIUM, LOW, DEFAULT]
        - name: min_samples
          in: query
          description: Minimum sample count filter
          schema:
            type: integer
            minimum: 0
        - name: format
          in: query
          description: Response format
          schema:
            type: string
            enum: [json, fixm, xml, csv, ndjson]
            default: json
      responses:
        '200':
          description: List of airport taxi reference times
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxiTimeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /reference/taxi-times/{airport}:
    get:
      tags:
        - Reference
      summary: Airport Taxi-Out Reference Detail
      description: |
        Returns unimpeded taxi-out reference time for a single airport, including
        dimensional breakdowns by weight class, carrier, engine configuration,
        and destination region.
      operationId: getTaxiTimeDetail
      parameters:
        - name: airport
          in: path
          required: true
          description: ICAO airport code (e.g., KJFK, KLAX)
          schema:
            type: string
            minLength: 3
            maxLength: 4
          example: KJFK
        - name: format
          in: query
          description: Response format
          schema:
            type: string
            enum: [json, fixm, xml, csv, ndjson]
            default: json
      responses:
        '200':
          description: Airport taxi reference with dimensional breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxiTimeDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Airport not found in taxi reference data

  # ==========================================================================
  # Health & Infrastructure
  # ==========================================================================

  /health:
    get:
      tags:
        - Infrastructure
      summary: API Health Check
      description: |
        Returns health status and metrics for the VATSWIM API infrastructure,
        including database connectivity, sync freshness, WebSocket server status,
        cache hit rates, and rate limit configuration.
      operationId: getHealth
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      responses:
        '200':
          description: Health status (may include status degraded)
          content:
            application/json:
              schema:
                type: object
                properties:
                  api:
                    type: string
                    example: VATSWIM
                  version:
                    type: string
                    example: '1.0.0'
                  timestamp_utc:
                    type: string
                    format: date-time
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  checks:
                    type: object
                    properties:
                      database:
                        type: object
                      api_keys:
                        type: object
                      websocket:
                        type: object
                      cache:
                        type: object
                      rate_limits:
                        type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: API is unhealthy

  /controllers:
    get:
      tags:
        - Controllers
      summary: List ATC Controllers
      description: |
        Returns active ATC controller data from the SWIM_API database, enriched
        with vNAS ERAM/STARS sector assignments where available. Supports filtering
        by callsign, facility type, ARTCC, and controller rating.
      operationId: listControllers
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: status
          in: query
          description: Filter by online status
          schema:
            type: string
            enum: [active, all]
            default: active
        - name: callsign
          in: query
          description: Filter by callsign pattern (supports * wildcard)
          schema:
            type: string
          example: ZDC_*
        - name: facility_type
          in: query
          description: Comma-separated facility type filter
          schema:
            type: string
          example: CTR,APP
        - name: facility_id
          in: query
          description: Comma-separated facility ID filter
          schema:
            type: string
          example: ZDC,ZNY
        - name: artcc
          in: query
          description: Comma-separated ARTCC filter
          schema:
            type: string
          example: ZDC,ZNY,ZBW
        - name: summary
          in: query
          description: Return facility staffing aggregation instead of individual controllers
          schema:
            type: string
            enum: ['true', 'false']
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Paginated list of controllers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================================================
  # CDM (Collaborative Decision Making)
  # ==========================================================================

  /cdm/airport-status:
    get:
      tags:
        - CDM
      summary: CDM Airport Operational Status
      description: |
        Returns A-CDM style airport operational picture including departure queue
        composition, gate-hold metrics, weather conditions, and acceptance rates.
        Optionally returns historical snapshots (up to 24h).
      operationId: getCdmAirportStatus
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: airport
          in: query
          required: true
          description: ICAO airport code
          schema:
            type: string
            minLength: 4
            maxLength: 4
          example: KJFK
        - name: history
          in: query
          description: Set to 1 to return historical snapshots instead of current status
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - name: limit
          in: query
          description: Number of historical snapshots (max 288 = 24h at 5-min intervals)
          schema:
            type: integer
            minimum: 1
            maximum: 288
            default: 24
      responses:
        '200':
          description: Airport CDM status
        '400':
          description: Missing or invalid airport parameter
        '401':
          $ref: '#/components/responses/Unauthorized'

  /cdm/compliance:
    get:
      tags:
        - CDM
      summary: CDM Compliance Data
      description: |
        Returns real-time compliance data for flights under TMI control, including
        EDCT adherence, TOBT accuracy, and milestone completion status.
      operationId: getCdmCompliance
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: program_id
          in: query
          description: Filter by TMI program ID
          schema:
            type: integer
        - name: flight_uid
          in: query
          description: Filter by flight UID
          schema:
            type: integer
        - name: airport
          in: query
          description: Filter by airport ICAO code
          schema:
            type: string
          example: KJFK
        - name: status
          in: query
          description: Filter by compliance status
          schema:
            type: string
            enum: [COMPLIANT, NON_COMPLIANT, AT_RISK, PENDING]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: Compliance records
        '401':
          $ref: '#/components/responses/Unauthorized'

  /cdm/metrics:
    get:
      tags:
        - CDM
      summary: CDM Effectiveness Metrics
      description: |
        Returns CDM effectiveness metrics including EDCT delivery rates,
        compliance rates, pilot participation, and readiness signal adoption.
      operationId: getCdmMetrics
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: program_id
          in: query
          description: Filter metrics for a specific TMI program
          schema:
            type: integer
      responses:
        '200':
          description: CDM metrics
        '401':
          $ref: '#/components/responses/Unauthorized'

  /cdm/readiness:
    get:
      tags:
        - CDM
      summary: Get Flight Readiness State
      description: |
        Returns the current CDM readiness state for a flight, including TOBT,
        readiness signal, and associated milestones.
      operationId: getCdmReadiness
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: callsign
          in: query
          description: Aircraft callsign
          schema:
            type: string
          example: AAL123
        - name: airport
          in: query
          description: Filter by departure airport
          schema:
            type: string
          example: KJFK
      responses:
        '200':
          description: Readiness state
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - CDM
      summary: Update Flight Readiness State
      description: |
        Allows pilots to signal readiness state and report TOBT (Target Off-Block Time).
        Requires write access.
      operationId: updateCdmReadiness
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - callsign
                - state
              properties:
                callsign:
                  type: string
                  example: AAL123
                state:
                  type: string
                  enum: [PLANNING, BOARDING, READY, TAXIING, CANCELLED]
                tobt_utc:
                  type: string
                  format: date-time
                  example: '2026-03-23T14:30:00Z'
      responses:
        '200':
          description: Readiness updated
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access required

  /cdm/status:
    get:
      tags:
        - CDM
      summary: Flight CDM Status
      description: |
        Returns comprehensive CDM status for a single flight including milestones,
        readiness, TMI control, compliance, and pending messages.
      operationId: getCdmStatus
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: callsign
          in: query
          description: Aircraft callsign (one of callsign or flight_uid required)
          schema:
            type: string
          example: AAL123
        - name: flight_uid
          in: query
          description: Internal flight UID (one of callsign or flight_uid required)
          schema:
            type: integer
      responses:
        '200':
          description: Flight CDM status with milestones and compliance
        '400':
          description: Missing callsign or flight_uid
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Flight not found

  # ==========================================================================
  # Connectors
  # ==========================================================================

  /connectors/health:
    get:
      tags:
        - Infrastructure
      summary: Connector Health Summary
      description: |
        Lightweight aggregate health check across all VATSWIM external connectors.
        Returns overall status (OK/DEGRADED/DOWN) and per-connector summary.
      operationId: getConnectorsHealth
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      responses:
        '200':
          description: Connector health summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [OK, DEGRADED, DOWN]
                  connectors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: vNAS
                        key:
                          type: string
                          example: vnas
                        status:
                          type: string
                          enum: [OK, DEGRADED, DOWN]
                  checked_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /connectors/status:
    get:
      tags:
        - Infrastructure
      summary: Connector Detailed Status
      description: |
        Detailed per-connector status including health, circuit breaker state,
        endpoints, configuration, and daemon status. Requires system or partner tier.
      operationId: getConnectorsStatus
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      responses:
        '200':
          description: Detailed connector status
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Requires system or partner tier API key

  # ==========================================================================
  # CTP (Cross the Pond)
  # ==========================================================================

  /ctp/sessions:
    get:
      tags:
        - CTP
      summary: List CTP Sessions
      description: |
        Returns CTP event sessions with throughput configurations and flight statistics.
        Without parameters, lists all ACTIVE/DRAFT/MONITORING sessions.
        With session_id, returns detailed session data including throughput configs.
      operationId: listCtpSessions
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: session_id
          in: query
          description: Get a specific session with full details
          schema:
            type: integer
        - name: status
          in: query
          description: Filter by session status
          schema:
            type: string
            enum: [DRAFT, ACTIVE, MONITORING, COMPLETED, CANCELLED]
      responses:
        '200':
          description: CTP sessions
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found (when session_id specified)

  # ==========================================================================
  # Additional Ingest Endpoints
  # ==========================================================================

  /ingest/acars:
    post:
      tags:
        - Ingest
      summary: ACARS Message Ingest
      description: |
        Receives ACARS messages from multiple sources (Hoppie, smartCARS, phpVMS, VAM,
        SimBrief, FS2Crew, PACX, generic). Processes OOOI times, position reports,
        PDC, weather, and telex messages. ACARS OOOI has priority 1 in the time
        extraction pipeline.
      operationId: ingestAcars
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
                - messages
              properties:
                source:
                  type: string
                  enum: [hoppie, smartcars, phpvms, vam, simbrief, fs2crew, pacx, generic]
                messages:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - callsign
                    properties:
                      type:
                        type: string
                        enum: [oooi, position, progress, pdc, weather, telex]
                      callsign:
                        type: string
                        example: UAL123
                      timestamp:
                        type: string
                        format: date-time
                      payload:
                        type: object
      responses:
        '200':
          description: Messages processed
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access required

  /ingest/cdm:
    post:
      tags:
        - Ingest
      summary: CDM Milestone Ingest
      description: |
        Receives A-CDM milestone data from authoritative sources (vACDM, CDM Plugin,
        vATCSCC). Updates FIXM-aligned CDM timing fields and pilot readiness state.
      operationId: ingestCdm
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - updates
              properties:
                updates:
                  type: array
                  items:
                    type: object
                    required:
                      - callsign
                    properties:
                      callsign:
                        type: string
                        example: BAW117
                      gufi:
                        type: string
                        example: VAT-20260323-BAW117-EGLL-KJFK
                      airport:
                        type: string
                        example: EGLL
                      tobt:
                        type: string
                        format: date-time
                        description: Target Off-Block Time
                      tsat:
                        type: string
                        format: date-time
                        description: Target Startup Approval Time
                      ttot:
                        type: string
                        format: date-time
                        description: Target Takeoff Time
                      asat:
                        type: string
                        format: date-time
                        description: Actual Startup Approval Time
                      asrt:
                        type: string
                        format: date-time
                        description: Actual Startup Request Time
                      exot:
                        type: integer
                        description: Expected Taxi Out Time (minutes)
                      readiness_state:
                        type: string
                        enum: [PLANNING, BOARDING, READY, TAXIING, CANCELLED]
                      source:
                        type: string
                        example: VACDM
      responses:
        '200':
          description: Milestones processed
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access required

  /ingest/ctp:
    post:
      tags:
        - Ingest
      summary: CTP Slot Assignment Ingest
      description: |
        Receives slot assignment results from the CTP API after the
        SlotDistributionCreator optimizer runs. Updates flight control with EDCTs,
        route segments, and NAT track assignments.
      operationId: ingestCtpSlots
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
                - slots
              properties:
                event_id:
                  type: string
                  example: CTP2026W
                session_id:
                  type: integer
                source:
                  type: string
                  example: ctp-api
                slots:
                  type: array
                  items:
                    type: object
                    required:
                      - callsign
                      - dep_airport
                      - arr_airport
                      - departure_time
                    properties:
                      callsign:
                        type: string
                        example: BAW117
                      cid:
                        type: integer
                        example: 1234567
                      dep_airport:
                        type: string
                        example: EGLL
                      arr_airport:
                        type: string
                        example: KJFK
                      departure_time:
                        type: string
                        format: date-time
                      route_segments:
                        type: array
                        items:
                          type: object
                      slot_delay_min:
                        type: integer
      responses:
        '200':
          description: Slot assignments processed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: CTP write access required

  /ingest/ctp_event:
    post:
      tags:
        - Ingest
      summary: CTP Event Sync
      description: |
        Creates or updates a CTP session and throughput configuration based on
        event data pushed from the CTP API. Enables the CTP API to be the event
        creation point.
      operationId: ingestCtpEvent
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
                - direction
                - departure_window_start
                - departure_window_end
              properties:
                event_id:
                  type: string
                  example: CTP2026W
                title:
                  type: string
                  example: Cross the Pond Westbound 2026
                direction:
                  type: string
                  enum: [WESTBOUND, EASTBOUND, BOTH]
                departure_window_start:
                  type: string
                  format: date-time
                departure_window_end:
                  type: string
                  format: date-time
                constrained_firs:
                  type: array
                  items:
                    type: string
                  example: [CZQX, BIRD, EGGX, LPPO]
                slot_interval_min:
                  type: integer
                  default: 5
                airports:
                  type: array
                  items:
                    type: object
                    properties:
                      identifier:
                        type: string
                        example: EGLL
                      max_acph:
                        type: integer
                        example: 38
                route_segments:
                  type: array
                  items:
                    type: object
                    properties:
                      identifier:
                        type: string
                        example: NATA
                      group:
                        type: string
                        example: NAT
                      max_acph:
                        type: integer
                        example: 25
      responses:
        '200':
          description: Session created or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      session_id:
                        type: integer
                      session_name:
                        type: string
                      action:
                        type: string
                        enum: [created, updated]
                      status:
                        type: string
                      throughput_configs:
                        type: object
                        properties:
                          created:
                            type: integer
                          updated:
                            type: integer
        '400':
          description: Validation error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: CTP write access required
        '409':
          description: Session not modifiable (completed/cancelled)

  /ingest/simtraffic:
    post:
      tags:
        - Ingest
      summary: SimTraffic Flight Times Ingest
      description: |
        Receives SimTraffic flight timing data. Supports PUSH mode (SimTraffic sends
        data directly) and PULL mode (triggers fetch from SimTraffic API). Maps
        SimTraffic departure/arrival timing fields to SWIM OOOI and metering columns.
      operationId: ingestSimtraffic
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mode
              properties:
                mode:
                  type: string
                  enum: [push, pull]
                flights:
                  type: array
                  description: Required for push mode
                  items:
                    type: object
                    required:
                      - callsign
                    properties:
                      callsign:
                        type: string
                        example: UAL456
                      departure:
                        type: object
                      arrival:
                        type: object
                      status:
                        type: object
      responses:
        '200':
          description: Flight times processed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access required

  /ingest/vnas/controllers:
    post:
      tags:
        - Ingest
      summary: vNAS Controller Data Ingest
      description: |
        Receives controller data from vNAS (ERAM/STARS) systems and enriches
        swim_controllers rows with sector assignments, position IDs, and role data.
      operationId: ingestVnasControllers
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - controllers
              properties:
                controllers:
                  type: array
                  items:
                    type: object
                    properties:
                      artccId:
                        type: string
                        example: ZDC
                      role:
                        type: string
                        example: Controller
                      isObserver:
                        type: boolean
                      vatsimData:
                        type: object
                        properties:
                          cid:
                            type: integer
                            example: 1234567
                          callsign:
                            type: string
                            example: ZDC_CTR
      responses:
        '200':
          description: Controller data enriched
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access required

  /ingest/vnas/handoff:
    post:
      tags:
        - Ingest
      summary: vNAS Handoff Data Ingest
      description: |
        Receives handoff data from vNAS (ERAM/STARS) systems. Updates handoff state
        in swim_flights and logs transitions in swim_handoff_log.
      operationId: ingestVnasHandoff
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - facility_id
                - handoffs
              properties:
                facility_id:
                  type: string
                  example: ZDC
                handoffs:
                  type: array
                  items:
                    type: object
                    required:
                      - callsign
                      - handoff_type
                      - from_sector
                      - to_sector
                      - status
                      - initiated_at
                    properties:
                      callsign:
                        type: string
                        example: UAL123
                      gufi:
                        type: string
                      handoff_type:
                        type: string
                        enum: [AUTOMATED, MANUAL, POINT_OUT]
                      from_sector:
                        type: string
                        example: ZDC_33_CTR
                      to_sector:
                        type: string
                        example: ZNY_42_CTR
                      status:
                        type: string
                        enum: [INITIATED, ACCEPTED, REJECTED, RECALLED, COMPLETED]
                      initiated_at:
                        type: string
                        format: date-time
      responses:
        '200':
          description: Handoff data processed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Write access required

  /ingest/vnas/tags:
    post:
      tags:
[...]
