<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Pass Authorization header to PHP -->
        <rewrite>
            <rules>
                <rule name="HTTP Authorization Header" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_AUTHORIZATION}" pattern=".+" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
                    </serverVariables>
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>

        <!-- Enable CORS preflight -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Authorization, Content-Type, X-SWIM-Source, X-API-Key" />
                <add name="Access-Control-Max-Age" value="86400" />
            </customHeaders>
        </httpProtocol>

        <!-- Handle OPTIONS preflight requests -->
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
